html {
  overflow-x: hidden; 
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 20% 1400px 15%; 
}

html, body {
  height: 100%;
  width: 100%; 
}

.grid-center-items{
    display: grid;
    align-items: center;
    text-align: center;
    justify-items: center;
}

.button{
  border: 0;
  padding: 5px;
  font-size: 1em;
	font-family:  'Tajawal', sans-serif;
	background-color: #CCCFCDE6;	
}


header{
  grid-template-rows: 1fr;
  grid-template-columns: 20% 70% 10%;
  width: 100%;
  height: 10%;
  position: fixed;
  background-color: #FFF;
  opacity: 0.9;
  box-shadow:  0 0 1em #C0D1C4;
  z-index: 10;
  justify-items: initial !important;
}

.logo-container{
  display: flex;
  font-size: 2em;
  font-family: 'Do Hyeon', sans-serif;
}

.navigation{
    margin: auto; 
}

a{
  text-decoration: none;
    color: black;
}

#page_header nav {
    grid-template-columns: repeat(3, 1fr) 50%; 
    font-family: 'Tajawal', sans-serif;
}

#page_header form{
  margin: 0;
  grid-template-columns: 70% 20%;
  height: 35px;
}

#page_header input[type=text]{
  border: 1px solid black;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 70%;
  padding-left: 5px;
}

#page_header input[type=submit]{
  height: 70%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 13px;
  line-height: 100%;
}

.cart-header-container{
  display: grid;
  grid-template-columns: 60% 40%;
  justify-items: self-start;
}

#cart_open{
  grid-column-start: 2;
}


.you-searched{
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/QW6QCZQ9KX.jpg);
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

#you_searched_text{
  grid-row-start: 2;
  margin: auto;
  font-size: 2em;
  font-family: 'Cabin', sans-serif;
}




#founded_section{
  grid-row-start: 2;
  grid-column-start: 2;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  padding: 5px;
}

.founded-item{
  width: 100%;
  height: 400px;
  border: 1px solid black;
  grid-template-rows: 60% 40px 30px 30px 40px;
  grid-row-gap: inherit;  
}

.founded-item-photo{
  width: 90%;
  height: 90%;
  object-fit: contain;
} 

.founded-item h3{
  font-family: 'Hind', sans-serif;
  font-size: 15px;
}

.founded-item span{
  font-family: 'Tajawal', sans-serif;
}

.founded-item span:nth-child(3){
  font-size: 12px;
}


.search-bar form{
  display: grid;
  grid-template-columns: 1fr 60% 10px 100px 1fr;
  width: 100%;
}

.search-bar form input[type=text]{
  grid-column-start: 2;
  padding: 4px;
  border: 1px solid black;
  background-color: transparent;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-size: 1.2em;
  border-radius: 10px;
  padding-left: 5px;
}

.search-bar form input[type=submit]{
  grid-column-start: 4;
  border-radius: 3px;
}


.search-filters{
  /*position: fixed;
  top: 12%;
  left: 0;
  width: 20%;
  height: 86%;*/
  grid-row-start: 2;
  grid-column-start: 1;
  border-right: 1px solid #605d5d99;
  /*grid-template-rows: 7.5% 1fr; */
  font-family: 'Tajawal', sans-serif;
  margin: 10px;
  display: block;
}

.search-filters h3{
  margin: 0;
  width: 100%;
  height: 30px;
  padding-left: 5px;
  border: 1px solid;
  position: sticky;
  top: 0;
  background-color: #dbdbdb;
  grid-column-start: 1;
  grid-column-end: 3;
}

.search-filters form{
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #5d5541;
  background-color: #ead9b8;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 30px;
  transition: max-height .5s ease-in;
  text-align: start;
  display: grid;
  grid-template-columns: 30px 1fr;
}

.search-filters li{
  padding-left: 5px;
}

.search-filters i{
  cursor: pointer;
}












footer{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-template-rows: 1fr;
  grid-template-columns: 2.5% 20% repeat(6, 3%) 27% repeat(4, 7.5%) 2.5%;
  background-color: #3C3C3C;
  color: #dcdcdc;
  font-family: 'Tajawal', sans-serif;
  z-index: 5;
}

footer a{
  color: #dcdcdc;
  text-decoration: none;
}

footer span:first-child{
  grid-column-start: 2;
}

footer a:nth-child(8){
  grid-column-start: 10;
}