footer.grid-center-items
  span.footer-copyright Copyright - Oleh Yaroshchuk 2018
  a(href='https://www.facebook.com/oleh.yaroshchuk' target='_blank')
    i.fab.fa-facebook-f
  a(href='https://twitter.com/Oleh_Yaroshchuk' target='_blank')
    i.fab.fa-twitter
  a(href='mailto:1oleq25@gmail.com' target='_blank')
    i.fas.fa-envelope
  a(href='https://github.com/Syarol' target='_blank')
    i.fab.fa-github
  a(href='https://www.t.me/Oleh_Yaroshchuk' target='_blank')
    i.fab.fa-telegram-plane
  a(href='https://www.instagram.com/oleh_yaroshchuk/' target='_blank')
    i.fab.fa-instagram
  a(href='/')
    span Home
  a(href='/shop')
    span Shop
  a(href='/blog')
    span Blog
  span.footer-contact Contact
section#contact-us-wrapper.modal-wrapper
  #contact-us-container.modal-container
    span#close-contact-modal.close-modal(title='Close') ×
    h2 CONTACT US
    #map-container
    .contacts-with-text.grid-center-items
      i.fas.fa-map-marker-alt
      i.fas.fa-paper-plane
      i.fas.fa-phone
      span Kryviy Val str., 31, Lutsk, Volyn region, 43000
      span oasis@oasis.com
      span 012345678
      .contact-time
        i.far.fa-clock
        span Everyday 10am - 6pm
    form#contact-form.contact-form
      label
        | Your name (required)
        input(type='text', name='name', required='')
      label
        | Your Email (required)
        input(type='e-mail', name='email', required='')
      label
        | Subject
        input(type='text', name='subject')
      label
        | Your Message
        textarea(name='message', rows='5')
      button#send_message.button Send
