footer.footer
  span.footer-copyright Copyright - Oleh Yaroshchuk 2018
  span.footer-social
    a(href='https://www.facebook.com/oleh.yaroshchuk' target='_blank')
      i.fab.fa-facebook-f
    a(href='https://twitter.com/Oleh_Yaroshchuk' target='_blank')
      i.fab.fa-twitter
    a(href='mailto:1oleq25@gmail.com' target='_blank')
      i.fas.fa-envelope
    a(href='https://github.com/Syarol' target='_blank')
      i.fab.fa-github
  nav.footer-nav
    span
      a(href='/') Home
    span 
      a(href='/shop') Shop
    span 
      a(href='/blog') Blog
    span.footer-contact Contact
section.cu-modal-wrapper.modal-wrapper
  .cu-modal-container.modal-container
    span.cu-modal-close.close-modal(title='Close') &times;
    h2.cu-title CONTACT US
    .cu-modal-items-container
      .cu-map-container
      .cu-ways-container.grid-center-items
        i.fas.fa-map-marker-alt
        i.fas.fa-paper-plane
        i.fas.fa-phone
        span Kryviy Val str., 31, Lutsk, Volyn region, 43000
        span oasis@oasis.com
        span 012345678
        .cu-time
          i.far.fa-clock
          span Everyday 10am - 6pm
      form.cu-form(action='/sendMessage' method='POST')
        label
          | Your name (required)
          input(type='text' name='name' required='')
        label
          | Your Email (required)
          input(type='e-mail' name='email' required='' autocapitalize='none')
        label
          | Subject
          input(type='text' name='subject')
        label
          | Your Message
          textarea(name='message' rows='5')
        button.cu-form-send-btn.btn(type='submit' formnovalidate) Send

