doctype html
head
  title= bookTitle
  meta(charset='UTF-8')
  meta#viewport(name='viewport', content='width=device-width, shrink-to-fit=no')
  meta(name='title', content='Oasis')
  meta(name='Keywords', content='book bookstore store site cart lutsk volyn')
  meta(name='description', content='Amazing bookstore for your mind')
  // Google / Search Engine Tags
  meta(itemprop='name', content='Oasis online-store')
  meta(itemprop='description', content='Amazing bookstore for your mind')
  link(rel='shortcut icon', href='images/favicon.png', type='image/x-icon')
  link(rel='icon', href='images/favicon.png', type='image/x-icon')
  link(href='https://fonts.googleapis.com/css?family=Do+Hyeon|Tajawal|Black+Han+Sans|Bree+Serif|Lato', rel='stylesheet')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
  link(href='css/style.css', rel='stylesheet')
