doctype html
head
	title= pageTitle
	meta(charset='UTF-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover')
	if book
		meta(name='title' content= book.title)
	else
		meta(name='title' content='My Cabinet')
	meta(name='Keywords' content='book bookstore store site cart lutsk volyn')
	meta(name='description' content='Just bookstore')
	// Google / Search Engine Tags
	meta(itemprop='name' content='Oasis online-store')
	meta(itemprop='description' content='Just bookstore')
	link(rel='shortcut icon' href='images/favicon.png' type='image/x-icon')
	link(rel='icon' href='images/favicon.png' type='image/x-icon')
	link(href='https://fonts.googleapis.com/css?family=Do+Hyeon|Tajawal|Black+Han+Sans|Bree+Serif|Hind|Muli' rel='stylesheet')
	script(src="https://kit.fontawesome.com/05d8a5315c.js")