header#page_header.grid-center-items
  span.logo-container Oasis
  nav.grid-center-items
    p.navigation
      a(href='/') Home
    p.navigation
      a(href='/blog') Blog
    p.navigation
      a(href='/shop') Shop
  p#cart_open(title='Click to open cart')
    i.fas.fa-shopping-cart
    span#count_inside_cart
