header.grid-center-items
  span.header-logo-container 
    a(href='/') Oasis
  nav.grid-center-items
    p.header-nav-item
      a(href='/') Home
    p.header-nav-item
      a(href='/blog') Blog
    p.header-nav-item
      a(href='/shop') Shop
  p.header-cart-container(title='Click to open cart')
    i.fas.fa-shopping-cart
    span.header-cart-count
