body{
	margin:0;
	height:100vh;
	font-family:'Acme',sans-serif;
	background-color:#f5f5f5;
	color:#141414
}

main{
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows:1fr;
	align-items:center
}

h1{
	justify-self:center;
	font-size:12em
}

p{
	justify-self:start;
	font-size:3em
}