html {
  overflow-x: hidden; 
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 200% 15%; 
  background-color: #fafafacc;
}

html, body {
  height: 100%;
  width: 100%; 
}

.grid-center-items{
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
}

.flex-center-items{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.button{
  cursor: pointer;
  border: 0;
  padding: 5px;
  font-size: 1em;
	font-family:  'Tajawal', sans-serif;
	background-color: #CCCFCDE6;	
}

/*header*/
header{
  grid-template-rows: 1fr;
  grid-template-columns: 20% 70% 10%;
  width: 100%;
  height: 10%;
  position: fixed;
  background-color: #FFF;
  opacity: 0.9;
  box-shadow:  0 0 1em #C0D1C4;
  z-index: 10;
}

.logo-container{
  font-size: 2em;
  font-family: 'Do Hyeon', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

.navigation a:hover{
  border-bottom-color: #ffb600;
}

.navigation a{
  transition: 1s;
  border-bottom: 2px solid #fff0;
}

#page_header nav {
    grid-template-columns: repeat(3, 1fr) 50%; 
    font-family: 'Tajawal', sans-serif;
    justify-self: normal;
}

#cart_open{
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
}

#cart_open i{
  margin-left: 30%;
  margin-right: 5px;
}

main{
  display: grid;
  grid-row-start: 2;
  grid-template-columns:  4fr 5fr 3fr;
  grid-template-rows: 60px 350px 150px 1fr;
  grid-template-areas: "search-panel search-panel search-panel" "goods-photo goods-short-info goods-buy-panel" "goods-photo goods-short-info none" "tabs tabs none";
  grid-gap: 10px;
  margin: 0 15px;
}

.search-panel-wrapper{
  grid-area: search-panel;
  display: flex;
}

.search-panel-form{
  margin: auto;
  height: 60%;
  display: grid;
  grid-template-columns: 70% 30%;
  width: 60%;
}

.search-panel-form input[name=query]{
  border: 1px solid #c4c1c1;
  padding-left: 5px;
}

.goods-photo-wrapper{
  grid-area: goods-photo;
  display: flex;
}

.goods-photo-wrapper img{
  object-fit: contain;
  height: 90%;
  width: 90%;
  margin: auto;
}

.goods-short-info-wrapper{
  grid-area: goods-short-info;
  font-family:  'Tajawal', sans-serif;
  padding: 0 20px;
}

.goods-short-info-wrapper h1{
  /*font-size: 2em;*/
}

.goods-short-info-wrapper p{
  /*font-size: 1.3em;*/
}

.goods-buy-wrapper{
  grid-area: goods-buy-panel;
  display: flex;
  padding: 0 30px;
}

.goods-buy-container{
  font-family:  'Tajawal', sans-serif;
  margin: auto;
  width: 90%;
  height: 95%;
  padding: 0 10px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  border-top-color: grey;
  display: flex;
  flex-direction: column;
}

.goods-buy-container-header{
  line-height: 100%;
  padding: 5px;
  font-size: 1.4em;
  margin: 10px auto;
}

.goods-buy-container-is-avaible{
  color: green;  
  margin: 5px 0;
}

.goods-buy-container-not-avaible{
  color: #ed0000;  
  margin: 5px 0;
}

.goods-buy-container-price{
  margin: 15px 0 0 0;
}

.goods-buy-container button{
  margin: 10px auto;
  width: 150px;
}

.tabs-wrapper{
  grid-area: tabs;
  padding: 20px 20px 0 20px;
}

.tabs-wrapper p{
  margin: 0;
}

.tabs-container {
  position: relative;  
}

.tab{
  float: left;
  margin-top: 5px;
  font-family:  'Tajawal', sans-serif;
}

.tab:first-child{
  margin-left: 40px;
}

.tab label {
  padding: 5px 20px;
  border: 1px solid grey;
  border-left: 0;
  border-bottom: 0;
  transition: .7s;
  background-color: #f0f0f0;
  cursor: pointer;
}

#tabs-first-label{
  border-left: 1px solid grey;
}

.tab [type=radio] {
  display: none;
}
  
  .tab label:hover{
    border-top-color: #ff4b4b;
  }

  .tab [type=radio]:checked + label {
    border-top-color: #ffb600;
    background-color: #f1eab3;
  }

.tab-content {
  position: absolute;
  top: 34px; 
  left: 0; 
  right: 0; 
  opacity: 0;
  border: 1px solid #eaeaea;;
  padding: 10px;
  background-color: #fff;
  border-top-color: grey;
}

[type=radio]:checked ~ label {
  z-index: 2;
}

[type=radio]:checked ~ label ~ .tab-content {
  z-index: 1;
  opacity: 1;
}

.goods-information{
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-auto-rows: 40px;
  align-items: center;
}

.goods-information span:nth-child(2n-1){
  justify-self: end;
  padding-right: 20px;
  color: #525252;
}

.goods-information span:nth-child(2n){
  padding-left: 20px;
}




footer{
  grid-row-start: 3;
	grid-template-rows: 1fr;
	grid-template-columns: 2.5% 20% repeat(6, 3%) 27% repeat(4, 7.5%) 2.5%;
	background-color: #3C3C3C;
	color: #dcdcdc;
	font-family: 'Tajawal', sans-serif;
}

footer a{
	color: #dcdcdc;
	text-decoration: none;
}

footer span:first-child{
	grid-column-start: 2;
}

footer a:nth-child(8){
	grid-column-start: 10;
}


.modal-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer; 
  color: #aaa;
  font-size: 28px;
  transition: 1s; 
}

.close-modal:hover, .close-modal:focus{
  color: black;
}

#contact{
  cursor: pointer;
}

/*Contact us modal*/
#contact-us-wrapper{
  display: none; 
}

#contact-us-container{
  display: grid;
  grid-template-rows: 10% 25% 65%;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  grid-template-areas: "header header" "map contact-text" "map contact-form";
}

#contact-us-wrapper h2{
  grid-area: header;
  margin: 0;
  text-align: center;
  font-family: 'Bree Serif', serif;
}

#map-container{
  grid-area: map;
  width: 100%;
  height: 100%;
  border: 2px solid #5f5c5c4d;
}

.contacts-with-text{
  grid-area: contact-text;
  grid-template-columns: repeat(3, 1fr);
  font-family: 'Tajawal', sans-serif;
  font-size: 1.7em;
}

.contacts-with-text span{
  font-size: .5em;
  margin: auto;
}

.contact-time{
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  width: 60%;
}

.contact-form{
  grid-area: contact-form;
  display: flex;
  font-family: 'Tajawal', sans-serif;
  justify-content: center;
  flex-direction: column;
}

.contact-form label{
  font-size: .8em;
  width: 85%;
  margin-top: 10px;
  align-self: center;
}

.contact-form label:first-child{
  margin: 0;
}

textarea{
  resize: none;
}

.contact-form input, .contact-form textarea{
  width: 100%;
}

.contact-form #send_message{
  width: 120px;
  transition: 1s;
  margin-top: 10px;
  margin-left: 7.5%;
}

.contact-form #send_message:hover{
  background-color: #c5c5c5;
}

/*Cart*/
#cart-modal{
  display: none;
}

#modal-content {
  width: 80%;
  height: 50%;
}

  #cart-header{
    display: flex; 
    font-family: 'Bree Serif', serif;
    margin: auto;
    justify-content: center;
}

.cart-remove-item {
  color: #aaa;
  font-size: 28px;
  text-decoration: none;
  cursor: pointer;
  transition: 1s; 
  font-family: initial;
}

.cart-remove-item:hover, .cart-remove-item:focus {
  color: black;
  transform: rotate(1turn);
}

#cart-table {
  width: 90%;
  height: 80%;
  display: none;
  grid-auto-rows: 15%;
  font-family: 'Tajawal', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto; 
}
  #cart-table .cart-first-row {
    position: sticky;
    top: 0; 
  }

  #cart-table .cart-first-row, #cart-table .cart-last-row {
    background-color: #e3e3e3; 
  }

    #cart-table .cart-first-row :first-child, #cart-table .cart-last-row :first-child {
      grid-column-start: 2; 
    }

  .cart-table-row {
    grid-template-columns: 5% 45% 20% 15% 15%; 
  }

  #cart-table .cart-item-name {
    justify-self: left;
  }

  #cart-table .cart-quantity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%; 
  }

  #cart-table #cart-total {
    grid-column-start: 5; }

.cart-button {
  width: 115px;
  margin: auto;
}

#checkout-container {
  height: 80%;
  width: 80%;
  margin: auto;
  font-family: 'Tajawal', sans-serif;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-auto-rows: 10%; 
}

#checkout-container *:not(:first-child):not(:nth-child(2)) {
  border-bottom: .5px solid grey; 
}

#checkout-container *:nth-child(2n) {
  text-align: center; 
}

#cart-buttons-container {
  display: flex;
  height: 10%; 
}

.cart-one-text-container {
  height: 80%;
  color: #443f3f;
}

#confirmation-form-container {
  height: 80%;
  width: 70%;
  display: grid;
  margin: auto;
  justify-items: center;
}

#checkout-container {
  font-size: 1em; 
}

#cart-modal .input {
  width: 70%;
  height: 40px;
  position: relative;
}

#cart-modal label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700; 
  color: #443f3f;
}

#cart-modal input {
  border: 0;
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  font: 15px/23px 'Muli', sans-serif;
  color: #443f3f;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  position: absolute;
  z-index: 10; 
}

#cart-modal input:focus{
  outline: none; 
}

#cart-modal input ~ .focus-border {
  position: absolute;
  bottom: 7px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s; }

#cart-modal input:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0; }

#cart-modal label{
  position: absolute;
  transition: 0.5s;
  top: 9px;
  letter-spacing: 0.5px;
}

.input-label-no-focus{
  left: 0;  
}

.input-label-get-focus {
  left: -150px;
  font-size: 16px;
}

.color-green{
  color: #4caf50 !important;
}
