html {
  overflow-x: hidden; 
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #fafafacc;
}

html, body {
  height: 100%;
  width: 100%; 
}

.grid-center-items{
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
}

.btn{
  cursor: pointer;
  border: 0;
  padding: 5px;
  font-size: 1em;
  font-family: var(--btn-font);
  background-color: #CCCFCDE6;  
  text-align: center;
}

.btn:disabled,
.btn[disabled]{
  background-color: #cccccc;
  color: #666666;
  cursor: no-drop;
}

.modal-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer; 
  color: #aaa;
  font-size: 28px;
  transition: 1s; 
}

.close-modal:hover, .close-modal:focus{
  color: black;
}

main{
  display: grid;
  grid-template-columns:  4fr 5fr 3fr;
  grid-template-rows: 60px auto;
  grid-auto-rows: minmax(min-content, max-content);	
  grid-auto-columns: minmax(min-content,max-content);
  grid-template-areas: "search-panel search-panel search-panel" "goods-photo goods-info buy-panel" "goods-photo goods-info none" "tabs tabs none" "ymal ymal ymal";
  grid-gap: 10px;
  margin: 60px 15px 0 15px;
  max-width: 60em;
  justify-self: center;
  align-self: center;
}

.search-panel-form{
	grid-area: search-panel;
	display: flex;
	height: 40px;
	width: 95%;
	max-width: 500px;
	margin: auto;
	justify-content: center;
}

.search-panel-form input[name=query]{
	-webkit-flex: 1;
	flex: 1;
	border: 1px solid #c4c1c1;
	padding: 0 5px;
}

.search-panel-form .btn{
	padding: 5px 15px;
}

@media screen and (max-width: 768px){
	main{
		grid-template-columns: 1fr;
		grid-template-areas: "search-panel" "goods-photo" "buy-panel" "goods-info" "tabs" "ymal";
		grid-gap: 15px;
		margin: 75px 15px 0;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px){
	main{
		grid-template-columns: auto;
		grid-template-areas: "search-panel search-panel" "goods-photo goods-info" "buy-panel buy-panel" "tabs tabs" "ymal ymal";
	}
}

@media screen and (min-width: 1025px) and (max-width: 1280px){

}

@media screen and (min-width: 1281px){

}

.goods-photo{
	grid-area: goods-photo;
	object-fit: contain;
	justify-self: center;
	align-self: center;
}

@media screen and (max-width: 480px){
	.goods-photo{
		width: 75%;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px){
	.goods-photo{
		width: 50%;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px){
	.goods-photo{
		width: 75%;
	}
}

@media screen and (min-width: 1025px){
  .goods-photo{
    width: 75%;
  }
}

.info-container{
  grid-area: goods-info;
  font-family: var(--text-font);
  margin: 0 20px;
}

.buy-container{
	grid-area: buy-panel;
	justify-self: center;
	align-self: center;
  font-family: var(--text-font);
  margin: auto;
  width: 90%;
  max-width: 350px;
  padding: 10px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  border-top-color: grey;
  display: flex;
  flex-direction: column;
}

.buy-container-header{
  font-size: 1.4em;
  margin: 5px auto;
}

.buy-container-is-avaible{
  color: green;  
  margin: 5px 0;
}

.buy-container-not-avaible{
  color: #ed0000;  
  margin: 5px 0;
}

.buy-container-price{
  margin: 5px 0;
}

.buy-container .btn{
	padding: 5px 15px;
  margin: 5px auto;
}

.tabs-container {
  grid-area: tabs;
  display: flex;
  flex-wrap: wrap;
  font-family: var(--text-font);
  justify-content: center;
}

.tabs-container label {
  padding: 5px 15px;
  border: 1px solid grey;
  border-left: 0;
  border-bottom: 0;
  transition: .7s;
  background-color: #f0f0f0;
  cursor: pointer;
}

.tabs-container label:first-of-type{
  border-left: 1px solid grey;
}
  
.tabs-container label:hover{
  border-top-color: #ff4b4b;
}

.tabs-container [type=radio]{
  display: none;
}

.tabs-container [type=radio]:checked + label{
  border-top-color: #ffb600;
  background-color: #f1eab3;
}

.tab-content{
	display: none;
	width: 100%;
	max-width: 750px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #eaeaea;
	border-top-color: grey;
	order: 99;
}

[type=radio]:checked + label + .tab-content {
  display: block;
}

.goods-information{
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-auto-rows: 40px;
  align-items: center;
}

.goods-information span:nth-child(2n-1){
  justify-self: end;
  padding-right: 20px;
  color: #525252;
}

.goods-information span:nth-child(2n){
  padding-left: 20px;
}

.goods-information a{
	padding-left: 20px;	
}

@media screen and (max-width: 768px){
  .goods-information{
    grid-template-columns: 1fr 2fr;
  }

  .tabs-wrapper{
    padding: 20px 0 0 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
	.buy-container{
		margin: 10px 0;
	}
}

/*You may also like section*/
.ymal-section{
  grid-area: ymal;
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-rows: 40px 1fr 50px;
  grid-row-gap: 5px;
  align-items: center;
}

.ymal-section-header{
	margin: 0;
	height: 100%;
	font-family: var(--titles-font);
}

.ymal-section-container{
  display: grid;
  grid-column-gap: 10px;
}

.goods-card{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	max-height: 500px;
	padding: 10px;
	border: 1px solid #c8c6c6;
	transition: .5s;
}

.goods-card:hover{
	box-shadow: 0 0 1em gray;
}

.goods-card span{
	font-family: var(--text-font);
}

.goods-card-image{
	object-fit: contain;
	width: 100%;
}

.goods-card-title{
	font-family: var(--card-title-font);
	font-size: 1.2em;
	margin: 5px 0 0 0;
}

.goods-card-author{
	font-size: .75em;
	color: #7b7b7b;
	margin: 5px 0;
}

.ymal-section-look-at-all-btn{
  margin: auto;
  width: 100px;
  background-color: #49ea21e6;
}

@media screen and (max-width: 480px){
  .ymal-section-container{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px){
  .ymal-section-container{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .ymal-section-container .goods-card:nth-of-type(4){
  	display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
  .ymal-section-container{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1025px){
  .ymal-section-container{
    grid-template-columns: repeat(4, 1fr);
  }
}