html {
  overflow-x: hidden; 
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #fafafacc;
}

html, body {
  height: 100%;
  width: 100%; 
}

.grid-center-items{
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
}

.btn{
  cursor: pointer;
  border: 0;
  padding: 5px;
  font-size: 1em;
  font-family:  'Tajawal', sans-serif;
  background-color: #CCCFCDE6;  
  text-align: center;
}

.btn:disabled,
.btn[disabled]{
  background-color: #cccccc;
  color: #666666;
  cursor: no-drop;
}

.modal-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer; 
  color: #aaa;
  font-size: 28px;
  transition: 1s; 
}

.close-modal:hover, .close-modal:focus{
  color: black;
}

main{
  display: grid;
  grid-template-columns:  4fr 5fr 3fr;
  grid-template-rows: 60px 350px 150px 1fr 1fr;
  grid-template-areas: "search-panel search-panel search-panel" "goods-photo goods-short-info goods-buy-panel" "goods-photo goods-short-info none" "tabs tabs none" "ymal ymal ymal";
  grid-gap: 10px;
  margin: 60px 15px 0 15px;
}

.search-panel-wrapper{
  grid-area: search-panel;
  display: flex;
}

.search-panel-form{
  margin: auto;
  height: 60%;
  display: grid;
  grid-template-columns: 70% 30%;
  width: 60%;
}

.search-panel-form input[name=query]{
  border: 1px solid #c4c1c1;
  padding-left: 5px;
}


@media screen and (max-width: 600px){
  main{
    grid-template-columns:  3fr 5fr;
    grid-template-rows: 60px 400px 185px 1fr 1fr;
    grid-template-areas: "search-panel search-panel" "goods-photo goods-short-info" "goods-buy-panel goods-buy-panel" "tabs tabs" "ymal ymal";
  }

  .search-panel-form{
    grid-template-columns: 1fr 105px;
    width: 95%;
  }
}

.goods-photo-wrapper{
  grid-area: goods-photo;
  display: flex;
}

.goods-photo-wrapper img{
  object-fit: contain;
  height: 90%;
  width: 90%;
  margin: auto;
}

.goods-short-info-wrapper{
  grid-area: goods-short-info;
  font-family:  'Tajawal', sans-serif;
  padding: 0 20px;
}

.goods-short-info-wrapper h1{
  /*font-size: 2em;*/
}

.goods-short-info-wrapper p{
  /*font-size: 1.3em;*/
}

.goods-buy-wrapper{
  grid-area: goods-buy-panel;
  display: flex;
  padding: 0 30px;
}

.goods-buy-container{
  font-family:  'Tajawal', sans-serif;
  margin: auto;
  width: 90%;
  height: 95%;
  padding: 0 10px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  border-top-color: grey;
  display: flex;
  flex-direction: column;
}

.goods-buy-container-header{
  line-height: 100%;
  padding: 5px;
  font-size: 1.4em;
  margin: 10px auto;
}

.goods-buy-container-is-avaible{
  color: green;  
  margin: 5px 0;
}

.goods-buy-container-not-avaible{
  color: #ed0000;  
  margin: 5px 0;
}

.goods-buy-container-price{
  margin: 15px 0 0 0;
}

.goods-buy-container button{
  margin: 10px auto;
  width: 150px;
}

.tabs-wrapper{
  grid-area: tabs;
  padding: 20px 20px 0 20px;
}

.tabs-wrapper p{
  margin: 0;
}

.tabs-container {
  position: relative;  
}

.tab{
  float: left;
  margin-top: 5px;
  font-family:  'Tajawal', sans-serif;
}

.tab:first-child{
  margin-left: 40px;
}

.tab label {
  padding: 5px 20px;
  border: 1px solid grey;
  border-left: 0;
  border-bottom: 0;
  transition: .7s;
  background-color: #f0f0f0;
  cursor: pointer;
}

#tabs-first-label{
  border-left: 1px solid grey;
}

.tab [type=radio]{
  display: none;
}
  
.tab label:hover{
  border-top-color: #ff4b4b;
}

.tab [type=radio]:checked + label{
  border-top-color: #ffb600;
  background-color: #f1eab3;
}

.tab-content{
  position: absolute;
  top: 34px; 
  left: 0; 
  right: 0; 
  opacity: 0;
  border: 1px solid #eaeaea;
  padding: 10px;
  background-color: #fff;
  border-top-color: grey;
}

[type=radio]:checked ~ label {
  z-index: 2;
}

[type=radio]:checked ~ label ~ .tab-content {
  z-index: 1;
  opacity: 1;
}

.goods-information{
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-auto-rows: 40px;
  align-items: center;
}

.goods-information span:nth-child(2n-1){
  justify-self: end;
  padding-right: 20px;
  color: #525252;
}

.goods-information span:nth-child(2n){
  padding-left: 20px;
}

@media screen and (max-width: 600px){
  .goods-information{
    grid-template-columns: 1fr 2fr;
  }

  .tabs-wrapper{
    padding: 20px 0 0 0;
  }
}

/*You may also like section*/
.ymal-section{
  grid-area: ymal;
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-rows: 40px 1fr 50px;
  grid-row-gap: 5px;
  align-items: center;
  font-family: 'Tajawal', sans-serif;
}

.ymal-section-header{
  margin: 0;
  height: 100%;
  font-family: 'Bree Serif',serif;
}

.ymal-section-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
}

.ymal-section-container-item{
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  border: 1px solid #c8c6c6;
  transition: .5s;
}

.ymal-section-container-item:hover{
  box-shadow: 0 0 1em gray;
}

.ymal-section-container-item-image{
  object-fit: contain;
  width: 90%;
  margin: auto;
}

.ymal-section-container-item-title{
  font-size: 20px;
  font-weight: bold;
}

.ymal-section-container-item-author{
  font-size: 13px;
  color: #7b7b7b;
  padding: 5px 0;
}

.ymal-section-look-at-all-btn{
  margin: auto;
  width: 100px;
  background-color: #49ea21e6;
}
