html {
  overflow-x: hidden; 
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 290% 15%; 
}

@media screen and (max-width: 600px){
  body{
    grid-template-rows:10% 300% 15%;
  }
}

html, body {
  height: 100%;
  width: 100%; 
}

.grid-center-items{
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
}

.flex-center-items{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  cursor: pointer;
  border: 0;
  padding: 5px;
  font-size: 1em;
	font-family:  'Tajawal', sans-serif;
	background-color: #CCCFCDE6;	
  text-align: center;
}

.btn:disabled,
.btn[disabled]{
  background-color: #cccccc;
  color: #666666;
  cursor: no-drop;
}

.on-sale-sign{
  position: absolute;
  left: -25px;
  top: 10px;
  transform: rotate(-45deg);
  background: black;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding: 3px 30px;
  font-size: 15px;
  color: white;
  z-index: 9;
  clip-path: polygon(26% 0, 65% -5px, 100% 125%, 0% 107%);
}

.modal-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer; 
  color: #aaa;
  font-size: 28px;
  transition: 1s; 
}

.close-modal:hover, .close-modal:focus{
  color: black;
}

main{
  display: grid;
  grid-row-start: 2;
  grid-template-columns: 1fr;
  grid-template-rows: 31.03% 10.34% 17.24% 31.03% 10.34%;
  grid-template-areas: "head-banner" "welсome-sign" "arrivals-carousel" "best-and-exclusive-section" "search-panel";
}

@media screen and (max-width: 600px){
  main{
    grid-template-rows: 30% 10% 15% 35% 10%;
  }
}

/**
  * Top banner
  * tp - is short from 'top banner'
**/

.tp-container{
  grid-area: head-banner;
	background-image: url(/assets/images/books-bookstore-book-reading-159711.jpeg); 
  flex-direction: column;
}

.tp-heading{
  width: 95%;
	font-size: 4em;
	font-family:  'Black Han Sans', sans-serif;
	color: white;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}

.tp-btn{
	font-size: 1.3em;
	width: 200px;
}

/**
  * Welcome text
  * wt - is short from 'welcome text'
**/

.wt-wrapper{
  grid-area: welсome-sign;
}

.wt-container{
	height: 80%;
	width: 80%;
  margin: auto;
	background-color: #f2f2f2;
	grid-template-columns: 1fr;
	grid-template-rows: 5% 35% 40% 5%;
  grid-gap: 5%;	
	box-shadow:  0 0 2px #C0D1C4;
}

.wt-heading{
	margin: 0;
	font-size: 2em;
	grid-row-start: 2;
	align-self: end;
	font-family: 'Bree Serif', serif;
}

.wt-paragraph{
	grid-row-start: 3;
	text-align: center;
	font-family: 'Tajawal', sans-serif;
  width: 95%;
}

@media screen and (max-width: 600px){
  .wt-container{
    width: 95%;
  }
}

/**
  * Arrivals carousel
  * cr - is short from 'carousel'
**/

.cr-arrivals-section{
  grid-area: arrivals-carousel;
}

/**
  * Best and exclusive section
  * bae - is short from 'best and exclusive'
**/

.bae-container{
  grid-area: best-and-exclusive-section;
  display: flex;
}

.bae-item-container{
  width: 50%;
  height: 100%;
}

.bae-container .title-wrapper{
  height: 15%;
  width: 100%;
	font-family: 'Black Han Sans', sans-serif;
}

.bae-exclusive-title-wrapper{
  background-color: black;
  color: white;
}

.bae-bestseller-title-wrapper{
  background-color: #fff;
  color: #5a5656;
}

.bae-bestseller-container{
  height: 85%;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 60% 30% 10%;
}

.bae-bestseller-container .btn{
	font-size: 1.3em;
	width: 140px;
}

.bae-book-photo{
	object-fit: contain;
  height: 100%;
	width: 100%;
}

.bae-bestseller-container .text-container{
	width: 90%;
	text-align: justify;
	font-family: 'Tajawal', sans-serif;
}

.bae-exclusives-container{
  height: 85%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr; 
}

@media screen and (max-width: 600px){
  .bae-container{
    display: grid;
    grid-template-rows: 40% 60%;
  }

  .bae-item-container {
    width: 100%;
    display: grid;
    grid-template-rows: 3.5em 1fr;
  }

  .bae-container .title-wrapper{
    height: 100%;
  }

  .bae-bestseller-container {
    height: 100%;
    grid-template-columns: 40% 60%;
    grid-template-rows: 80% 20%;
    overflow: hidden;
    font-size: .9em;
  }

  .bae-book-photo {
    height: 95%;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .bae-bestseller-container .text-container{
    font-size: .9em;
  }

  .bae-bestseller-container .btn{
    grid-column: 2;
    grid-row: 2;
    font-size: 1em;
    width: 100px;
  }

  .bae-exclusives-container {
    height: 100%;
  }

  .bae-exclusives-container .cr-el-slider{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .bae-exclusives-container-container .btn{
    margin: 2%;
  }
}

/**
  * Search form
  * sf - is short from 'search form'
**/

.sf-wrapper{
  grid-area: search-panel;
}

.sf-container{
	height: 80%;
	width: 80%;
	grid-template-columns: 1fr;
	grid-template-rows: 40% 1fr;
	background-color: #f2f2f2;
	box-shadow: 0 0 2px #C0D1C4;
	font-family: 'Tajawal', sans-serif;
	font-size: 1.3em;
}

.sf{
	grid-row-start: 2;
	display: grid;
	grid-template-columns: repeat(3, 1fr) 12.5%;
  grid-gap: 30px;
	width: 85%;
	font-size: .8em;
}

.sf label{
	font-size: 0.7em;
}

.sf input[type=text], .sf select {
	border: 0;
  border-bottom: 1px solid black;
	padding-bottom: 3px;
  background-color: transparent;
	box-sizing: border-box;
  letter-spacing: 1px;
  width: 100%;
}

.sf input[type=text]{
  transition: 1s;
}

.sf input[type=text]:focus, .sf select:focus {
  border-color: green;
}

.sf-btn{
	height: 35px;
	width: 100%;
  align-self: center;
}

.sf-select {
	-moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
	background-image:
   	linear-gradient(45deg, transparent 50%, gray 50%),
   	linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
   	calc(100% - 10px) calc(1em - 5px),
   	calc(100% - 5px) calc(1em - 5px);
  background-size:
   	5px 5px,
   	5px 5px;
  background-repeat: no-repeat;
}

.sf-select:focus {
  background-image:
   	linear-gradient(45deg, green 50%, transparent 50%),
   	linear-gradient(135deg, transparent 50%, green 50%);
  background-position:
   	calc(100% - 5px) calc(1em - 5px),
   	calc(100% - 10px) calc(1em - 5px);
}

@media screen and (max-width: 600px){
  .sf-container{
    width: 95%;
  }

  .sf {
    width: 95%;
    grid-gap: 10px;
  }
}