html {
  overflow-x: hidden; 
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  width: 100%; 
}

.grid-center-items{
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
}

.flex-center-items{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  cursor: pointer;
  border: 0;
  padding: 5px;
  font-size: 1em;
	font-family: var(--btn-font);
	background-color: #CCCFCDE6;	
  text-align: center;
}

.btn:disabled,
.btn[disabled]{
  background-color: #cccccc;
  color: #666666;
  cursor: no-drop;
}

.on-sale-sign{
  position: absolute;
  left: -25px;
  top: 10px;
  transform: rotate(-45deg);
  background: black;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding: 3px 30px;
  font-size: 15px;
  color: white;
  z-index: 9;
  clip-path: polygon(26% 0, 65% -5px, 100% 125%, 0% 107%);
}

.modal-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer; 
  color: #aaa;
  font-size: 28px;
  transition: 1s; 
}

.close-modal:hover, .close-modal:focus{
  color: black;
}

main{
  flex: 1 0 auto;
  padding-top: 60px;
}


/**
  * Top banner
  * tp - is short from 'top banner'
**/

.tp-container{
  height: calc(100vh - 60px);
	background-image: url(/assets/images/books-bookstore-book-reading-159711.jpeg); 
  flex-direction: column;
}

.tp-heading{
  width: 95%;
	font-size: 4em;
	font-family:  var(--titles-font-alt);
	color: white;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}

.tp-btn{
	font-size: 1.3em;
	width: 200px;
}

@media screen and (max-width: 480px){
  .tp-heading{
    font-size: 3em;
  }
}

/**
  * Welcome text
  * wt - is short from 'welcome text'
**/

.wt-container{
	width: 80%;
  max-width: 37.5em;
  margin: 2em 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
	background-color: #f2f2f2;
	box-shadow:  0 0 2px #C0D1C4;
}

.wt-heading{
	margin: 0;
	font-size: 2em;
	font-family: var(--titles-font);
}

.wt-paragraph{
	font-family: var(--text-font);
}

@media screen and (max-width: 600px){
  .wt-container{
    width: 95%;
  }
}

/**
  * Arrivals carousel
  * cr - is short from 'carousel'
**/


/**
  * Best and exclusive section
  * bae - is short from 'best and exclusive'
**/

.bae-container{
  display: flex;
  justify-content: center;
  max-width: 50em;
  margin: auto;
}

.bae-container .title-wrapper{
  height: 60px;
  width: 100%;
	font-family: var(--titles-font-alt);
}

.bae-exclusive-title-wrapper{
  background-color: black;
  color: #fff;
}

.bae-bestseller-title-wrapper{
  background-color: #fff;
  color: #5a5656;
}

.bae-bestseller-container{
  height: calc(100vh - 120px);
  max-height: 35em;
  position: relative;
  flex-direction: column;
}

.bae-bestseller-container .btn{
	font-size: 1.3em;
	width: 140px;
  margin-bottom: 15px;
}

.bae-book-photo{
	object-fit: contain;
}

.bae-bestseller-container .text-container{
	width: 90%;
  margin: 15px 0;
	text-align: justify;
	font-family: var(--text-font);
}

.bae-exclusives-container{
  height: calc(100vh - 120px);
  max-height: 35em;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}

.bae-exclusives-container .cr-el:before{
  content: "SALE!";
  position: absolute;
  left: -25px;
  top: 10px;
  transform: rotate(-45deg);
  background: #000;
  font-family: var(--label-font);
  font-weight: 700;
  padding: 3px 30px;
  font-size: 15px;
  color: #fff;
  z-index: 9;
  clip-path: polygon(26% 0,65% -5px,100% 125%,0% 107%);
}

@media screen and (max-width: 480px){
  .bae-container{
    flex-direction: column;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px){
  .bae-container{
    flex-direction: column;
  }

  .bae-bestseller-container {
    overflow: hidden;
    font-size: 1em;
  }

  .bae-bestseller-container .text-container{
  }

  .bae-bestseller-container .btn{
    font-size: 1.1em;
    width: 100px;
  }

  .bae-exclusives-container .cr-el-slider{
  }
}

@media screen and (min-width: 769px){
  .bae-item-container {
    width: 50%;
    max-width: 25em;
  }
}

/**
  * Search form
  * sf - is short from 'search form'
**/

.sf-container{
  max-width: 35em;
  flex-direction: column;
  margin: 2em auto;
  padding: 20px;
	background-color: #f2f2f2;
	box-shadow: 0 0 2px #C0D1C4;
	font-size: 1.3em;
}

.sf-header {
  font-family: var(--titles-font);
  text-align: center;
}

.sf{
  display: flex;
  flex-direction: column;
	font-family: var(--text-font);
	width: 85%;
	font-size: .8em;
}

.sf div {
  margin: 5px 0;
}

.sf label{
	font-size: 0.7em;
  text-align: start;
}

.sf input[type=text], .sf select {
	border: 0;
  border-bottom: 1px solid black;
	padding-bottom: 3px;
  background-color: transparent;
	box-sizing: border-box;
  letter-spacing: 1px;
  width: 100%;
}

.sf input[type=text]{
  transition: 1s;
}

.sf input[type=text]:focus, .sf select:focus {
  border-color: green;
}

.sf-btn{
	height: 35px;
	width: 100%;
  max-width: 200px;
  margin-top: 10px;
  align-self: center;
}

.sf-select {
	-moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
	background-image:
   	linear-gradient(45deg, transparent 50%, gray 50%),
   	linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
   	calc(100% - 10px) calc(1em - 5px),
   	calc(100% - 5px) calc(1em - 5px);
  background-size:
   	5px 5px,
   	5px 5px;
  background-repeat: no-repeat;
}

.sf-select:focus {
  background-image:
   	linear-gradient(45deg, green 50%, transparent 50%),
   	linear-gradient(135deg, transparent 50%, green 50%);
  background-position:
   	calc(100% - 5px) calc(1em - 5px),
   	calc(100% - 10px) calc(1em - 5px);
}

@media screen and (max-width: 480px){

}

@media screen and (min-width: 481px) and (max-width: 768px){

}

@media screen and (min-width: 769px) and (max-width: 1024px){
  .sf-container{
    margin: 2em 4em;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px){

}

@media screen and (min-width: 1281px){

}