html {
  overflow-x: hidden; 
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 1fr 15%; 
}

html, body {
  height: 100%;
  width: 100%; 
  background-color: #fafafacc;
}

.grid-center-items{
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
}

.button{
  cursor: pointer;
  border: 0;
  padding: 5px;
  font-size: 1em;
	font-family:  'Tajawal', sans-serif;
	background-color: #CCCFCDE6;	
}

.button:disabled,
.button[disabled]{
  background-color: #cccccc;
  color: #666666;
  cursor: no-drop;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

fieldset{
  padding: 0;
  border: 0;
}

.modal-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer; 
  color: #aaa;
  font-size: 28px;
  transition: 1s; 
}

.close-modal:hover, .close-modal:focus{
  color: black;
}

/*header*/
header{
  grid-template-rows: 1fr;
  grid-template-columns: 20% 70% 10%;
  width: 100%;
  height: 10%;
  position: fixed;
  background-color: #FFF;
  opacity: 0.9;
  box-shadow:  0 0 1em #C0D1C4;
  z-index: 10;
}

.logo-container{
  font-size: 2em;
  font-family: 'Do Hyeon', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

.navigation a:hover{
  border-bottom-color: #ffb600;
}

.navigation a{
  transition: 1s;
  border-bottom: 2px solid #fff0;
}

#page_header nav {
  grid-template-columns: repeat(3, 1fr) 50%; 
  font-family: 'Tajawal', sans-serif;
  justify-self: normal;
}

#page_header form{
  grid-template-columns: 70% 30%;
}

#page_header input[type=text]{
  border: 1px solid #ccc0c0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 25px;
  padding-left: 5px;
}

#page_header button{
  height: 29px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  line-height: 100%;
  padding-right: 10px;
}

#cart_open{
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
}

#cart_open i{
  margin-left: 30%;
  margin-right: 5px;
}


main{
  display: grid;
  grid-row-start: 2;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "search-text search-text" "aside finded";
}

.search-text-wrapper{
  grid-area: search-text;
  background-position: center;
  background-size: cover;
  background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/QW6QCZQ9KX.jpg);
  filter: blur(1px);
}

#search-text{
  position: relative;
  grid-area: search-text;
  margin: auto;
  font-size: 2em;
  font-family: 'Cabin', sans-serif;
}

#finded_section{
  grid-template-rows: 40px 1fr 40px;
  grid-row-gap: 5px;
  padding: 5px;
  grid-area: finded;
  align-items: start;
  grid-template-areas: "finded-top-container" "finded-items" "pagination-bottom";
}

.finded-section-top-container{
  grid-area: finded-top-container;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "per-page pagination sort-by";
  width: 100%;
  font-family: 'Tajawal', sans-serif;
}

.choose-per-page-container{
  grid-area: per-page;
}

.pagination {
  display: flex;
}

.pagination-top{
  grid-are: pagination;
}

.pagination-bottom{
  grid-area: pagination-bottom;
  font-family: 'Tajawal', sans-serif;
}

.pagination span {
  padding: 8px;
  border-radius: 2px;
  transition: .5s;
  margin: 0 1px;
  line-height: 100%;
  width: 15px;
  cursor: pointer;
}

.pagination span:hover:not(.pagination-three-dots) {
  background-color: #ddd;
}


#finded-items-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.finded-item{
  border: 1px solid #c8c6c6;
  grid-template-rows: 1fr 35px 20px 25px 50px;
  transition: .5s; 
}

.finded-item:hover{
  box-shadow: 0 0 1em grey;
}

.finded-item-photo{
  width: 90%;
  height: 80%;
  object-fit: contain;
} 

.finded-item h3{
  font-family: 'Hind', sans-serif;
  font-size: 15px;
}

.finded-item span{
  font-family: 'Tajawal', sans-serif;
}

.finded-item span:nth-child(3){
  font-size: 12px;
}

.search-bar form{
  display: grid;
  grid-template-columns: 1fr 60% 10px 100px 1fr;
  width: 100%;
}

.search-bar form input[type=text]{
  grid-column-start: 2;
  padding: 4px;
  border: 1px solid black;
  background-color: transparent;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-size: 1.2em;
  border-radius: 10px;
  padding-left: 5px;
}

.search-bar form input[type=submit]{
  grid-column-start: 4;
  border-radius: 3px;
}


.aside-nav-wrapper{
  font-family: 'Tajawal', sans-serif;
  grid-area: aside;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.aside-nav-container{
  display: grid;
  grid-template-rows: 30px 1fr;
  grid-row-gap: 5px;
  padding: 5px 0;
  border-bottom: 1px solid #cecece;
}

.aside-nav-button{
  background-color: transparent;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 20px;
}

.aside-nav-button span{
  padding-left: 5px;
  justify-self: baseline;
}

.aside-nav-button i{
  align-self: center;
  color: #bcbcbc;
  transition: .5s;
}

.aside-nav-items-container{
  display: grid;
  grid-template-columns: 1fr;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: max-height .5s;
}

.aside-nav-items-container label input{
  margin-right: 10px;
}

.aside-nav-price-range-container{
  grid-template-columns: 1fr 20px 1fr;
  grid-column-gap: 5px;
  max-height: 30px;
  overflow: hidden;
  transition: max-height 1s;
}

.aside-nav-mdash{
  text-align: center;
}

.price-container{
  position: relative;
}

.price-container input{
  box-sizing: content-box;
  width: 80px;
  height: 25px;
  padding-left: 15px;
  border: 1px solid #ccc9c9;
  border-radius: 1px;
}

.price-container span{
  position: absolute;
  left: 5px;
  top: 2.5px;
}

#book-modal-wrapper{
  display: none;
}

#book-modal-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 1fr;
  grid-column-gap: 30px;
  grid-template-areas: "item-title item-title" "book-image book-data";
}

#book-modal-container h3{
  grid-area: item-title;
  margin: 0;
  font-size: 2em;
  font-family: 'Bree Serif', serif;
}

.modal-book-image{
  grid-area: book-image;
  object-fit: contain;
  width: 90%;
  height: 100%;
}

.modal-book-data{
  font-family: 'Lato', sans-serif;
  grid-template-rows: repeat(4, 30px) 1fr 30px 40px;
  grid-template-areas: "book-author" "book-isbn" "book-publisher" "book-categories" "book-description"  "book-price" "book-avalaible-and-buy" ;
}


