html {
  overflow-x: hidden; 
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 1fr 15%; 
}

html, body {
  height: 100%;
  width: 100%; 
  background-color: #fafafacc;
}

.grid-center-items{
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
}

.btn{
  cursor: pointer;
  border: 0;
  padding: 5px;
  font-size: 1em;
	font-family:  'Tajawal', sans-serif;
	background-color: #CCCFCDE6;	
}

.btn:disabled,
.btn[disabled]{
  background-color: #cccccc;
  color: #666666;
  cursor: no-drop;
}

input[type=number]::-webkit-inner-spin-btn,
input[type=number]::-webkit-outer-spin-btn {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

fieldset{
  padding: 0;
  border: 0;
}

.modal-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer; 
  color: #aaa;
  font-size: 28px;
  transition: 1s; 
}

.close-modal:hover, .close-modal:focus{
  color: black;
}

/**
  * Header
**/

.search-page-header{
  grid-template-rows: 1fr;
  grid-template-columns: 20% 70% 10%;
  width: 100%;
  height: 10%;
  position: fixed;
  background-color: #FFF;
  opacity: 0.9;
  box-shadow:  0 0 1em #C0D1C4;
  z-index: 10;
}

.header-logo-container{
  font-size: 2em;
  font-family: 'Do Hyeon', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

.search-page-header nav {
  grid-template-columns: repeat(3, 1fr) 50%; 
  font-family: 'Tajawal', sans-serif;
  justify-self: normal;
}

.header-nav-item a:hover{
  border-bottom-color: #ffb600;
}

.header-nav-item a{
  transition: 1s;
  border-bottom: 2px solid #fff0;
}

.header-search-form{
  grid-template-columns: 70% 30%;
}

.header-search-form input[type=text]{
  border: 1px solid #ccc0c0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 25px;
  padding-left: 5px;
}

.header-search-form .btn{
  height: 29px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  line-height: 100%;
  padding-right: 10px;
}

.header-cart-container{
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
  cursor: pointer;
}

.header-cart-container i{
  margin-left: 30%;
  margin-right: 5px;
}

@media screen and (max-width: 600px){
  .search-page-header{
    grid-template-columns: 2fr 3fr 1fr;
  }

  .search-page-header nav {
    grid-template-columns: repeat(3,1fr) .5em;
  }

  .header-search-form{
    display: none;
  }

  .header-cart-container {
    width: 60%;
  }

  .header-cart-container i{
    margin-left: 30%;
    margin-right: 5px;
    margin-left: initial;
  }
}



main{
  display: grid;
  grid-row-start: 2;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "search-text search-text" "aside finded";
}

.search-text-wrapper{
  grid-area: search-text;
  background-position: center;
  background-size: cover;
  background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/QW6QCZQ9KX.jpg);
  filter: blur(1px);
}

#search-text{
  position: relative;
  grid-area: search-text;
  margin: auto;
  font-size: 2em;
  font-family: 'Cabin', sans-serif;
}

.big-search-form-wrapper{
  display: none;
}

.big-search-form{
  width: 90%;
  display: grid;
  grid-template-columns: 80% 15%;
  grid-column-gap: 5%;
}

.sidebar-open-container{
  display: none;
}

.sidebar-open-btn{
  width: 90%;
  font-size: 1.2em;
  display: grid;
  grid-template-columns: 20px 1fr;
  height: 35px;
  align-items: center;
}

@media screen and (max-width: 600px){
  main{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 45px) 1fr;
    grid-template-areas: "search-form" "filters-button" "search-text" "finded";
  }

  .big-search-form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sidebar-open-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .big-search-form{
    width: 90%;
    display: grid;
    grid-template-columns: 80% 15%;
    grid-column-gap: 5%;
  }
}

/**
  * Finded items section
  * fi - is short from 'Finded items'
**/

.fi-container{
  grid-template-rows: 40px 1fr 40px;
  grid-row-gap: 5px;
  padding: 5px;
  grid-area: finded;
  align-items: start;
  grid-template-areas: "finded-top-container" "finded-items" "pagination-bottom";
}

.fi-top-container{
  grid-area: finded-top-container;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "per-page pagination sort-by";
  width: 100%;
  font-family: 'Tajawal', sans-serif;
}

.fi-per-page-container{
  grid-area: per-page;
}

.pagination {
  display: flex;
}

.fi-top-pagination{
  grid-area: pagination;
}

.fi-bottom-pagination{
  grid-area: pagination-bottom;
  font-family: 'Tajawal', sans-serif;
}

.pagination span {
  padding: 8px;
  border-radius: 2px;
  transition: .5s;
  margin: 0 1px;
  line-height: 100%;
  width: 15px;
  cursor: pointer;
}

.pagination span:hover:not(.pagination-three-dots) {
  background-color: #ddd;
}

.fi-items-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.fi{
  border: 1px solid #c8c6c6;
  grid-template-rows: 1fr 35px 20px 25px 50px;
  transition: .5s; 
}

.fi:hover{
  box-shadow: 0 0 1em grey;
}

.fi-photo{
  width: 90%;
  height: 80%;
  object-fit: contain;
} 

.fi h3{
  font-family: 'Hind', sans-serif;
  font-size: 15px;
}

.fi span{
  font-family: 'Tajawal', sans-serif;
}

.fi span:nth-child(3){
  font-size: 12px;
}

/**
  * Sidebar
**/

.sidebar-container{
  font-family: 'Tajawal', sans-serif;
  grid-area: aside;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.sidebar-header{
  display: none;
}

.sidebar-item-container{
  display: grid;
  grid-template-rows: 30px 1fr;
  grid-row-gap: 5px;
  padding: 5px 0;
  border-bottom: 1px solid #cecece;
}

.sidebar-btn{
  background-color: transparent;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 20px;
}

.sidebar-btn span{
  padding-left: 5px;
  justify-self: baseline;
}

.sidebar-btn i{
  align-self: center;
  color: #bcbcbc;
  transition: .5s;
}

.sidebar-items-container{
  display: grid;
  grid-template-columns: 1fr;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: max-height .5s;
}

.sidebar-items-container label input{
  margin-right: 10px;
  cursor: pointer;
}

.sidebar-price-range-container{
  grid-template-columns: 1fr 20px 1fr;
  grid-column-gap: 5px;
  max-height: 30px;
  overflow: hidden;
  transition: max-height 1s;
}

.sidebar-mdash{
  text-align: center;
}

.price-container{
  position: relative;
}

.price-container input{
  box-sizing: content-box;
  width: 80px;
  height: 25px;
  padding-left: 15px;
  border: 1px solid #ccc9c9;
  border-radius: 1px;
}

.price-container span{
  position: absolute;
  left: 5px;
  top: 2.5px;
}

@media screen and (max-width: 600px){
  .sidebar-container{
    width: calc(100% - 20px);
    height: calc(100% - 50px);
    position: fixed;
    top: 0;
    left: -100%;
    background-color: white;
    z-index: 1000;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 50px 10px 0 10px;
    transition: transform 1s cubic-bezier(.45,.05,.55,.95);
    transform: translateX(0);
  }

  .sidebar-item-container{
    width: 95%;
  }

  .sidebar-header{
    height: 50px;
    display: grid;
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 2.5%;
    background-color: black;
    color: #f3f3f3;
    z-index: 10;
  }

  .sidebar-header i{
    font-size: 1.2em;
  }

  .sidebar-hide-btn{
    cursor: pointer;
    width: 65px;
  }

  .sidebar-hide-btn span{
    font-size: 1.3em;
  }

  .sidebar-header-title{
    font-size: 1.3em;
    justify-self: center;
  }

  .sidebar-items-container{
    grid-template-columns: 1fr 1fr;
  }

  .sidebar-btn{
    font-size: 1.3em;
    font-weight: bold;
  }

  .price-container input{
    width: 85%;
  }

  .price-container span{
    top: 4px;
  }

  .low-price-container{
    justify-self: end;
  }

  .high-price-container{
    justify-self: start;
  }
}

















#book-modal-wrapper{
  display: none;
}

#book-modal-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 1fr;
  grid-column-gap: 30px;
  grid-template-areas: "item-title item-title" "book-image book-data";
}

#book-modal-container h3{
  grid-area: item-title;
  margin: 0;
  font-size: 2em;
  font-family: 'Bree Serif', serif;
}

.modal-book-image{
  grid-area: book-image;
  object-fit: contain;
  width: 90%;
  height: 100%;
}

.modal-book-data{
  font-family: 'Lato', sans-serif;
  grid-template-rows: repeat(4, 30px) 1fr 30px 40px;
  grid-template-areas: "book-author" "book-isbn" "book-publisher" "book-categories" "book-description"  "book-price" "book-avalaible-and-buy" ;
}

