html {
  overflow-x: hidden; 
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 240% 15%; 
}

html, body {
  height: 100%;
  width: 100%; 
}

.grid-center-items{
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
}

.button{
  cursor: pointer;
  border: 0;
  padding: 5px;
  font-size: 1em;
  font-family:  'Tajawal', sans-serif;
  background-color: #CCCFCDE6;  
}

.button:disabled,
.button[disabled]{
  background-color: #cccccc;
  color: #666666;
  cursor: no-drop;
}

.modal-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer; 
  color: #aaa;
  font-size: 28px;
  transition: 1s; 
}

.close-modal:hover, .close-modal:focus{
  color: black;
}

main{
  display: grid;
  grid-row-start: 2;
  grid-template-columns: 1fr;
  grid-template-rows: 37.5% repeat(3, 1fr);
  grid-template-areas: "search-banner" "recommends-carousel" "bestsellers-carousel" "arrivals-carousel";
}

/**
  * Search banner
  * sb - is short from 'search banner'
**/

.sb-container{
  grid-area: search-banner;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/assets/images/pexels-photo-164005.jpeg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sb-heading{
  margin-top: 0;
  font-size: 4em;
  color: #242222;
  font-family: 'Bree Serif', serif;
  text-align: center;
}

.sb-form{
  display: grid;
  grid-template-columns: 1fr 125px;
  grid-column-gap: 20px;
  width: 65%;
}

.sb-form input[type=text]{
  border: 0;
  border-bottom: 1px solid black;
  padding: 4px;
  background-color: transparent;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-size: 1.2em;
  color: white;
}

.sb-form button{
  font-size: 1.2em;
}

.sb-all-link{
  font-size: 1.5em;
  color: #f6f6f6;
  font-weight: bold;
  margin-top: 5%;
  font-family: 'Bree Serif',serif;
  text-shadow: 1px 1px #818181;
  cursor: pointer;
}

@media screen and (max-width: 600px){
  .sb-form {
    width: 85%;
  }
}
