html {
  overflow-x: hidden; 
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 240% 15%; 
}

html, body {
  height: 100%;
  width: 100%; 
}

.grid-center-items{
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
}

.button{
  cursor: pointer;
  border: 0;
  padding: 5px;
  font-size: 1em;
  font-family:  'Tajawal', sans-serif;
  background-color: #CCCFCDE6;  
}


header{
  grid-template-rows: 1fr;
  grid-template-columns: 20% 70% 10%;
  width: 100%;
  height: 10%;
  position: fixed;
  background-color: #FFF;
  opacity: 0.9;
  box-shadow:  0 0 1em #C0D1C4;
  z-index: 10;
}

.logo-container{
  font-size: 2em;
  font-family: 'Do Hyeon', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

.navigation a:hover{
  border-bottom-color: #ffb600;
}

.navigation a{
  transition: 1s;
  border-bottom: 2px solid #fff0;
}

#page_header nav {
  grid-template-columns: repeat(3, 1fr) 50%; 
  font-family: 'Tajawal', sans-serif;
  justify-self: normal;
}

#cart_open{
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
}

#cart_open i{
  margin-left: 30%;
  margin-right: 5px;
}


main{
  display: grid;
  grid-row-start: 2;
  grid-template-columns: 1fr;
  grid-template-rows: 37.5% repeat(3, 1fr);
  grid-template-areas: "search-banner" "recommends-carousel" "bestsellers-carousel" "arrivals-carousel";
}


#search-banner-wrapper{
  grid-area: search-banner;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/assets/images/pexels-photo-164005.jpeg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#search-banner-wrapper h1{
  margin-top: 0;
  font-size: 4em;
  color: #242222;
  font-family: 'Bree Serif', serif;
}

#search-banner-wrapper form{
  display: grid;
  grid-template-columns: 1fr 125px;
  grid-column-gap: 20px;
  width: 65%;
}

#search-banner-wrapper form input[type=text]{
  border: 0;
  border-bottom: 1px solid black;
  padding: 4px;
  background-color: transparent;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-size: 1.2em;
  color: white;
}

#search-banner-wrapper form input[type=submit]{
  font-size: 1.2em;
}

#recommends-carousel{
  grid-area: recommends-carousel;
}

.carousel-section{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%; 
  position: relative; 
}

.carousel-controls-wrapper{
  width: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 35% 4.5% 21% 4.5% 35%;
  grid-template-areas: "nothing-1 left-control title right-control nothing-2";
  justify-items: initial;
}

.control{
  cursor: pointer;
  height: 1.2em;
  transition: 1s;
}

.control:hover{
  transform: scale(1.2);
}

.control:not(:hover){
  transform: scale(1);
}

.left-control{
  grid-area: left-control;
}

.right-control{
  grid-area: right-control;
}

.carousel-controls-wrapper h2{
  grid-area: title;
  font-family: 'Tajawal', sans-serif;
  font-size: 1.2em;
}

.carousel{
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  height: 80%;
  top: 20%;
  position: absolute;
  width: 100%;
}

.carousel-item{
  flex: 1 0 25%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative; 
  background-color: #fff;
}

.carousel-item-inf {
  width: 100%;
  height: 100%;
  transition: 1s;
  background-color: #000000b3;
  color: #dcdcdc;
  margin-left: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 20% 30px 40px 30px 1fr /*15%;*/repeat(3, 5%);
  position: absolute;
  font-family: 'Tajawal', sans-serif;
}

.carousel-item:hover .carousel-item-inf{
  margin-left: 0;
}

.carousel-item-inf h3{ 
  font-family: 'Bree Serif', serif; 
  margin: 0;
  font-size: 1.8em;
  grid-row-start: 2;
}

.carousel-item-inf span:nth-child(2){
  font-size: .8em;
  grid-row-start: 3;
}

.carousel-item-inf span:nth-child(3){
  font-size: 1.4em;
  grid-row-start: 4;
}

.carousel-item-inf span:nth-child(4){
  font-size: .8em;
  grid-row-start: 5;
}

.carousel-item-inf input[type=button]{
  grid-row-start: 6;
}

.carousel-item-inf a:nth-child(6){
  font-size: .8em;
  grid-row-start: 8;
  cursor: pointer;
}

/*footer*/
footer{
  grid-row-start: 3;
  grid-template-rows: 1fr;
  grid-template-columns: 2.5% 20% repeat(6, 3%) 27% repeat(4, 7.5%) 2.5%;
  background-color: #3C3C3C;
  color: #dcdcdc;
  font-family: 'Tajawal', sans-serif;
  margin-top: 15px;
}

footer a{
  color: #dcdcdc;
  text-decoration: none;
}

footer span:first-child{
  grid-column-start: 2;
}

footer a:nth-child(8){
  grid-column-start: 10;
}

#contact{
  cursor: pointer;
}


.modal-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
  position: relative;
}

.close-modal {
  float: right;
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold; 
  color: black;
  font-size: 28px;
  transition: 1s; 
}

.close-modal:hover, .close-modal:focus{
  color: #aaa;
  text-decoration: none;
  cursor: pointer; 
}

.modal-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer; 
  color: #aaa;
  font-size: 28px;
  transition: 1s; 
}

.close-modal:hover, .close-modal:focus{
  color: black;
}

/*Contact us modal*/
#contact-us-wrapper{
  display: none; 
}

#contact-us-container{
  display: grid;
  grid-template-rows: 10% 25% 65%;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  grid-template-areas: "header header" "map contact-text" "map contact-form";
}

#contact-us-wrapper h2{
  grid-area: header;
  margin: 0;
  text-align: center;
  font-family: 'Bree Serif', serif;
}

#map-container{
  grid-area: map;
  width: 100%;
  height: 100%;
  border: 2px solid #5f5c5c4d;
}

.contacts-with-text{
  grid-area: contact-text;
  grid-template-columns: repeat(3, 1fr);
  font-family: 'Tajawal', sans-serif;
  font-size: 1.7em;
}

.contacts-with-text span{
  font-size: .5em;
  margin: auto;
}

.contact-time{
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  width: 60%;
}

.contact-form{
  grid-area: contact-form;
  display: flex;
  font-family: 'Tajawal', sans-serif;
  justify-content: center;
  flex-direction: column;
}

.contact-form label{
  font-size: .8em;
  width: 85%;
  margin-top: 10px;
  align-self: center;
}

.contact-form label:first-child{
  margin: 0;
}

textarea{
  resize: none;
}

.contact-form input, .contact-form textarea{
  width: 100%;
}

.contact-form #send_message{
  width: 120px;
  transition: 1s;
  margin-top: 10px;
  margin-left: 7.5%;
}

.contact-form #send_message:hover{
  background-color: #c5c5c5;
}

/*Cart*/
#cart-modal{
  display: none;
}

#modal-content {
  width: 80%;
  height: 50%;
}

  #cart-header{
    display: flex; 
    font-family: 'Bree Serif', serif;
    margin: auto;
    justify-content: center;
}

.cart-remove-item {
  color: #aaa;
  font-size: 28px;
  text-decoration: none;
  cursor: pointer;
  transition: 1s; 
  font-family: initial;
}

.cart-remove-item:hover, .cart-remove-item:focus {
  color: black;
  transform: rotate(1turn);
}

#cart-table {
  width: 90%;
  height: 80%;
  display: none;
  grid-auto-rows: 15%;
  font-family: 'Tajawal', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto; 
}
  #cart-table .cart-first-row {
    position: sticky;
    top: 0; 
  }

  #cart-table .cart-first-row, #cart-table .cart-last-row {
    background-color: #e3e3e3; 
  }

    #cart-table .cart-first-row :first-child, #cart-table .cart-last-row :first-child {
      grid-column-start: 2; 
    }

  .cart-table-row {
    grid-template-columns: 5% 45% 20% 15% 15%; 
  }

  #cart-table .cart-item-name {
    justify-self: left;
  }

  #cart-table .cart-quantity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%; 
  }

  #cart-table #cart-total {
    grid-column-start: 5; }

.cart-button {
  width: 115px;
  margin: auto;
}

#checkout-container {
  height: 80%;
  width: 80%;
  margin: auto;
  font-family: 'Tajawal', sans-serif;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-auto-rows: 10%; 
}

#checkout-container *:not(:first-child):not(:nth-child(2)) {
  border-bottom: .5px solid grey; 
}

#checkout-container *:nth-child(2n) {
  text-align: center; 
}

#cart-buttons-container {
  display: flex;
  height: 10%; 
}

.cart-one-text-container {
  height: 80%;
  color: #443f3f;
}

#confirmation-form-container {
  height: 80%;
  width: 70%;
  display: grid;
  margin: auto;
  justify-items: center;
}

#checkout-container {
  font-size: 1em; 
}

#cart-modal .input {
  width: 70%;
  height: 40px;
  position: relative;
}

#cart-modal label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700; 
  color: #443f3f;
}

#cart-modal input {
  border: 0;
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  font: 15px/23px 'Muli', sans-serif;
  color: #443f3f;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  position: absolute;
  z-index: 10; 
}

#cart-modal input:focus{
  outline: none; 
}

#cart-modal input ~ .focus-border {
  position: absolute;
  bottom: 7px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s; }

#cart-modal input:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0; }

#cart-modal label{
  position: absolute;
  transition: 0.5s;
  top: 9px;
  letter-spacing: 0.5px;
}

.input-label-no-focus{
  left: 0;  
}

.input-label-get-focus {
  left: -150px;
  font-size: 16px;
}

.color-green{
  color: #4caf50 !important;
}