html {
  overflow-x: hidden; 
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 290% 15%; 
}

@media screen and (max-width: 600px){
  body{
    grid-template-rows:10% 300% 15%;
  }
}

html, body {
  height: 100%;
  width: 100%; 
}

.grid-center-items{
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
}

.flex-center-items{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.button{
  cursor: pointer;
  border: 0;
  padding: 5px;
  font-size: 1em;
	font-family:  'Tajawal', sans-serif;
	background-color: #CCCFCDE6;	
}

.button:disabled,
.button[disabled]{
  background-color: #cccccc;
  color: #666666;
  cursor: no-drop;
}

/*header*/
header{
  grid-template-rows: 1fr;
  grid-template-columns: 20% 70% 10%;
  width: 100%;
  height: 10%;
  position: fixed;
  background-color: #FFF;
  opacity: 0.9;
  box-shadow:  0 0 1em #C0D1C4;
  z-index: 10;
}

.logo-container{
  font-size: 2em;
  font-family: 'Do Hyeon', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

.navigation a:hover{
  border-bottom-color: #ffb600;
}

.navigation a{
  transition: 1s;
  border-bottom: 2px solid #fff0;
}

#page_header nav {
  grid-template-columns: repeat(3, 1fr) 50%; 
  font-family: 'Tajawal', sans-serif;
  justify-self: normal;
}

#cart_open{
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
}

#cart_open i{
  margin-left: 30%;
  margin-right: 5px;
}

main{
  display: grid;
  grid-row-start: 2;
  grid-template-columns: 1fr;
  grid-template-rows: 31.03% 10.34% 17.24% 31.03% 10.34%;
  grid-template-areas: "head-banner" "welсome-sign" "arrivals-carousel" "best-and-exclusive-section" "search-panel";
}

@media screen and (max-width: 600px){
  header{
    grid-template-columns: 2fr 3fr 1fr;
  }

  #page_header nav{
    grid-template-columns: repeat(3,1fr) .5em;
  }

  #cart_open{
    width: 60%;
  }

  #cart_open i{
    margin-left: initial;
  }

  main{
    grid-template-rows: 30% 10% 15% 35% 10%;
  }
}

#head-section-wrapper{
  grid-area: head-banner;
	background-image: url(/assets/images/books-bookstore-book-reading-159711.jpeg); 
  flex-direction: column;
}

#head-section-wrapper h2{
  width: 95%;
	font-size: 4em;
	font-family:  'Black Han Sans', sans-serif;
	color: white;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}

#head-section-wrapper .button{
	font-size: 1.3em;
	width: 200px;
}

.welcome-sign-wrapper{
  grid-area: welсome-sign;
}

.welcome-sign{
	height: 80%;
	width: 80%;
  margin: auto;
	background-color: #f2f2f2;
	grid-template-columns: 1fr;
	grid-template-rows: 5% 35% 40% 5%;
  grid-gap: 5%;	
	box-shadow:  0 0 2px #C0D1C4;
}

.welcome-sign-wrapper h2{
	margin: 0;
	font-size: 2em;
	grid-row-start: 2;
	align-self: end;
	font-family: 'Bree Serif', serif;
}

.welcome-sign-wrapper p{
	grid-row-start: 3;
	text-align: center;
	font-family: 'Tajawal', sans-serif;
  width: 95%;
}

@media screen and (max-width: 600px){
  .welcome-sign{
    width: 95%;
  }
}

#arrivals-carousel-section{
  grid-area: arrivals-carousel;
	display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  position: relative;
}

.carousel-controls-wrapper{
  width: 20em;
  grid-template-rows: 1fr;
  grid-template-columns: 4.5% 1fr 4.5%;
  grid-template-areas: "left-control title right-control";
}

.carousel-controls-wrapper h2{
  grid-area: title;
  font-family: 'Tajawal', sans-serif;
  font-size: 1.2em;
}

.control{
  cursor: pointer;
  height: 1.2em;
  transition: 1s;
}

.control:hover{
  transform: scale(1.2);
}

.control:not(:hover){
  transform: scale(1);
}

.left-control{
  grid-area: left-control;
}

#new_arrival_controls h2{
	font-family: 'Tajawal', sans-serif;
	font-size: 1.2em;
}

.right-control{
  grid-area: right-control;
}

.carousel{
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  /*height: 80%;*/
  height: 100%;
  top: 20%;
  /*position: absolute;*/
  width: 100%;
}

.carousel-item{
  flex: 1 0 25%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative; 
  background-color: #fff;
}

.carousel-item-inf {
  width: 100%;
  height: 100%;
  transition: 1s;
  background-color: #000000b3;
  color: #dcdcdc;
  margin-left: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 20% 30px 40px 30px 1fr repeat(2, 5%) 20px;
  position: absolute;
  font-family: 'Tajawal', sans-serif;
}

.carousel-item:hover .carousel-item-inf{
  margin-left: 0;
}

.carousel-item-inf h3{ 
  font-family: 'Bree Serif', serif; 
  margin: 0;
  font-size: 1.4em;
  grid-row-start: 2;
  padding: 0 5px;
}

.carousel-item-inf span:nth-child(2){
  font-size: .8em;
  grid-row-start: 3;
}

.carousel-item-inf span:nth-child(3){
  font-size: 1.4em;
  grid-row-start: 4;
}

.carousel-item-inf span:nth-child(4){
  font-size: .8em;
  grid-row-start: 5;
}

.carousel-item-inf input[type=button]{
  grid-row-start: 6;
}

.carousel-item-inf a:nth-child(6){
  font-size: .8em;
  grid-row-start: 8;
  cursor: pointer;
  color: #dcdcdc;
}

@media screen and (max-width: 600px){
  #arrives_carousel .carousel-item{
    flex: 1 0 calc(100%/3);
  }
}

.bae-section{
  grid-area: best-and-exclusive-section;
  display: flex;
}

.bae-section-product-container{
  width: 50%;
  height: 100%;
}

.bae-section .title-container{
  height: 15%;
  width: 100%;
	font-family:  'Black Han Sans', sans-serif;
}

.bae-section-exclusive-title-container{
  background-color: black;
  color: white;
}

.bae-section-bestseller-title-container{
  background-color: #fff;
  color: #5a5656;
}

.on-sale{
	position: absolute;
	left: -25px;
	top: 10px;
	transform: rotate(-45deg);
	background: black;
	font-family: Raleway,sans-serif !important;
	font-weight: bold;
	padding: 3px 30px;
	font-size: 15px;
	color: white;
	z-index: 9;
	clip-path: polygon(26% 0, 65% -5px, 100% 125%, 0% 107%) !important;
}

#bestseller-container{
  height: 85%;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 60% 30% 10%;
}

#bestseller-container .button{
	font-size: 1.3em;
	width: 140px;
}

.book-photo-container{
	object-fit: contain;
  height: 100%;
	width: 100%;
}

#bestseller-container .text-container{
	width: 90%;
	text-align: justify;
	font-family: 'Tajawal', sans-serif;
}

#exclusives_container{
  height: 85%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr; 
}

@media screen and (max-width: 600px){
  .bae-section{
    display: grid;
    grid-template-rows: 40% 60%;
  }

  .bae-section-product-container {
    width: 100%;
    display: grid;
    grid-template-rows: 3.5em 1fr;
  }

  .bae-section .title-container{
    height: 100%;
  }

  #bestseller-container {
    height: 100%;
    grid-template-columns: 40% 60%;
    grid-template-rows: 80% 20%;
    overflow: hidden;
    font-size: .9em;
  }

  .book-photo-container {
    height: 95%;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  #bestseller-container .text-container{
    font-size: .9em;
  }

  #bestseller-container .button{
    grid-column: 2;
    grid-row: 2;
    font-size: 1em;
    width: 100px;
  }

  #exclusives_container {
    height: 100%;
  }

  #exclusives_container .carousel-item-inf {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #exclusive-container .button{
    margin: 2%;
  }

}

.find-product-section{
  grid-area: search-panel;
}

.find-form{
	height: 80%;
	width: 80%;
	grid-template-columns: 1fr;
	grid-template-rows: 40% 1fr;
	background-color: #f2f2f2;
	box-shadow: 0 0 2px #C0D1C4;
	font-family: 'Tajawal', sans-serif;
	font-size: 1.3em;
}

#find_product_form{
	grid-row-start: 2;
	display: grid;
	grid-template-columns: repeat(3, 1fr) 12.5%;
  grid-gap: 30px;
	width: 85%;
	font-size: .8em;
}

#find_product_form label{
	font-size: 0.7em;
}

#find_product_form input[type=text], #find_product_form select {
	border: 0;
  border-bottom: 1px solid black;
	padding-bottom: 3px;
  background-color: transparent;
	box-sizing: border-box;
  letter-spacing: 1px;
  width: 100%;
}

#find_product_form input[type=text]{
  transition: 1s;
}

#find_product_form input[type=text]:focus, #find_product_form select:focus {
  border-color: green;
}

#find_product_form button{
	height: 35px;
	width: 100%;
  align-self: center;
}

#find_product_form select {
	-moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
	background-image:
   	linear-gradient(45deg, transparent 50%, gray 50%),
   	linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
   	calc(100% - 10px) calc(1em - 5px),
   	calc(100% - 5px) calc(1em - 5px);
  background-size:
   	5px 5px,
   	5px 5px;
  background-repeat: no-repeat;
}

#find_product_form select:focus {
  background-image:
   	linear-gradient(45deg, green 50%, transparent 50%),
   	linear-gradient(135deg, transparent 50%, green 50%);
  background-position:
   	calc(100% - 5px) calc(1em - 5px),
   	calc(100% - 10px) calc(1em - 5px);
}

@media screen and (max-width: 600px){
  .find-form{
    width: 95%;
  }

  #find_product_form {
    width: 95%;
    grid-gap: 10px;
  }
}


/*footer*/
footer{
  grid-row-start: 3;
	grid-template-rows: 1fr;
  padding: 0 2.5%;
	grid-template-columns: 20% repeat(6, 3%) 27% repeat(4, 7.5%);
	background-color: #3C3C3C;
	color: #dcdcdc;
	font-family: 'Tajawal', sans-serif;
}

footer a{
	color: #dcdcdc;
	text-decoration: none;
}

footer a:nth-child(8){
	grid-column-start: 9;
}

#contact{
  cursor: pointer;
}

@media screen and (max-width: 600px){
  footer{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(6, 7.5%) 1fr repeat(4, 2fr);
  }

  .footer-copyright{
    font-size: .9em;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 12; 
  }

  footer a, footer #contact{
    align-self: end;
  }

  footer a:nth-child(8){
    grid-column-start: 8;
  }
}


#book-modal-wrapper{
	display: none;
}

#book-modal-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 1fr;
  grid-column-gap: 30px;
  grid-template-areas: "item-title item-title" "book-image book-data";
}

#book-modal-container h3{
  grid-area: item-title;
  margin: 0;
  font-size: 2em;
  font-family: 'Bree Serif', serif;
}

.modal-book-image{
  grid-area: book-image;
  object-fit: contain;
  width: 90%;
  height: 100%;
}

.modal-book-data{
  font-family: 'Lato', sans-serif;
  grid-template-rows: repeat(4, 30px) 1fr 30px 40px;
  grid-template-areas: "book-author" "book-isbn" "book-publisher" "book-categories" "book-description"  "book-price" "book-avalaible-and-buy" ;
}


.arrival-item .arrival-item-inf {
	width: 100%;
	height: 100%;
	transition: 1s;
	background-color: #000000b3;
	color: #dcdcdc;
	margin-left: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: 20% 15% 7.5% 15% 7.5% 15% 20%;
}

.arrival-item:hover .arrival-item-inf,
.arrival-item.active .arrival-item-inf{
	margin-left: 0;
}

.arrival-item-inf h3{	
	font-family: 'Bree Serif', serif;	
	margin: 0;
	font-size: 2em;
	grid-row-start: 2;
}

.arrival-item-inf span:nth-child(2){
	grid-row-start: 3;
	font-size: .8em;
}

.arrival-item-inf span:nth-child(3){
	grid-row-start: 4;
	font-size: 1.4em;
}

.arrival-item-inf span:nth-child(4){
	grid-row-start: 5;
	font-size: .8em;
}

.arrival-item-inf span{
	font-family: 'Tajawal', sans-serif;
}

.arrival-item input[type=button]{
	grid-row-start: 6;
	font-size: 1.2em;
}

.modal-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer; 
  color: #aaa;
  font-size: 28px;
  transition: 1s; 
}

.close-modal:hover, .close-modal:focus{
  color: black;
}

/*Contact us modal*/
#contact-us-wrapper{
  display: none; 
}

#contact-us-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 1fr;
}

#contact-us-wrapper h2{
  margin: 0;
  text-align: center;
  font-family: 'Bree Serif', serif;
}

.contact-modal-map-form-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 70%;
  grid-column-gap: 25px;
  grid-template-areas: "map contact-text" "map contact-form";
}

#map-container{
  grid-area: map;
  width: 100%;
  height: 100%;
  border: 2px solid #5f5c5c4d;
}

.contacts-with-text{
  grid-area: contact-text;
  grid-template-columns: repeat(3, 1fr);
  font-family: 'Tajawal', sans-serif;
  font-size: 1.7em;
}

.contacts-with-text span{
  font-size: .5em;
  margin: auto;
}

.contact-time{
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  width: 60%;
}

.contact-form{
  grid-area: contact-form;
  display: flex;
  font-family: 'Tajawal', sans-serif;
  justify-content: center;
  flex-direction: column;
}

.contact-form label{
  font-size: .8em;
  width: 85%;
  margin-top: 10px;
  align-self: center;
}

.contact-form label:first-child{
  margin: 0;
}

textarea{
  resize: none;
}

.contact-form input, .contact-form textarea{
  width: 100%;
}

.contact-form #send_message{
  width: 120px;
  transition: 1s;
  margin-top: 10px;
  margin-left: 7.5%;
}

.contact-form #send_message:hover{
  background-color: #c5c5c5;
}

@media screen and (max-width: 600px){
  .modal-container{
    width: 95%;
    height: 95%;
    padding: 10px;
  }

  #contact-us-container{
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto;
    grid-template-areas: "header" "contact";
    overflow-y: visible;
  }

  .contact-modal-map-form-container{
    grid-area: contact;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 60% 90%;
    grid-template-areas: "contact-text" "contact-form" "map";
    grid-gap: 5px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #map-container{
    grid-area: map;
  }

  .contacts-with-text{
    grid-area: contact-text;
  }

  .contact-form{
    grid-area: contact-form;
  }
}

/*Cart*/
#cart-modal{
  display: none;
}

#modal-content {
  width: 80%;
  height: 50%;
}

  #cart-header{
    display: flex; 
    font-family: 'Bree Serif', serif;
    margin: auto;
    justify-content: center;
}

.cart-remove-item {
  color: #aaa;
  font-size: 28px;
  text-decoration: none;
  cursor: pointer;
  transition: 1s; 
  font-family: initial;
}

.cart-remove-item:hover, .cart-remove-item:focus {
  color: black;
  transform: rotate(1turn);
}

#cart-table {
  width: 90%;
  height: 80%;
  display: none;
  grid-auto-rows: 15%;
  font-family: 'Tajawal', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto; 
}
  #cart-table .cart-first-row {
    position: sticky;
    top: 0; 
  }

  #cart-table .cart-first-row, #cart-table .cart-last-row {
    background-color: #e3e3e3; 
  }

    #cart-table .cart-first-row :first-child, #cart-table .cart-last-row :first-child {
      grid-column-start: 2; 
    }

  .cart-table-row {
    grid-template-columns: 5% 45% 20% 15% 15%; 
  }

  #cart-table .cart-item-name {
    justify-self: left;
  }

  #cart-table .cart-quantity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%; 
  }

  #cart-table #cart-total {
    grid-column-start: 5; }

.cart-button {
  width: 115px;
  margin: auto;
}

#checkout-container {
  height: 80%;
  width: 80%;
  margin: auto;
  font-family: 'Tajawal', sans-serif;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-auto-rows: 10%; 
}

#checkout-container *:not(:first-child):not(:nth-child(2)) {
  border-bottom: .5px solid grey; 
}

#checkout-container *:nth-child(2n) {
  text-align: center; 
}

#cart-buttons-container {
  display: flex;
  height: 10%; 
}

.cart-one-text-container {
  height: 80%;
  color: #443f3f;
}

#confirmation-form-container {
  height: 80%;
  width: 70%;
  display: grid;
  margin: auto;
  justify-items: center;
}

#checkout-container {
  font-size: 1em; 
}

#cart-modal .input {
  width: 70%;
  height: 40px;
  position: relative;
}

#cart-modal label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700; 
  color: #443f3f;
}

#cart-modal input {
  border: 0;
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  font: 15px/23px 'Muli', sans-serif;
  color: #443f3f;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  position: absolute;
  z-index: 10; 
}

#cart-modal input:focus{
  outline: none; 
}

#cart-modal input ~ .focus-border {
  position: absolute;
  bottom: 7px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s; }

#cart-modal input:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0; }

#cart-modal label{
  position: absolute;
  transition: 0.5s;
  top: 9px;
  letter-spacing: 0.5px;
}

.input-label-no-focus{
  left: 0;  
}

.input-label-get-focus {
  left: -150px;
  font-size: 16px;
}

.color-green{
  color: #4caf50 !important;
}

@media screen and (max-width: 600px){
  #modal-content {
    width: 90%;
    height: 75%;
  }

  #cart-header{
    margin-bottom: 5px;
  }
}