<!DOCTYPE html>
<html>

<head>
	<title>Oasis</title>

    <meta charset="UTF-8">
	<meta id="viewport" name="viewport" content ="width=device-width, shrink-to-fit=no"/>

	<meta name="title" content="Oasis">
	<meta name="Keywords" content="book bookstore store site cart lutsk volyn">
	<meta name="description" content="Amazing bookstore for your mind">

	<!-- Google / Search Engine Tags -->
	<meta itemprop="name" content="Oasis online-store">
	<meta itemprop="description" content="Amazing bookstore for your mind">

	<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
	<link rel="icon" href="images/favicon.png" type="image/x-icon">

	<link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Tajawal|Black+Han+Sans|Bree+Serif|Lato" rel="stylesheet"> 
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> 
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
	<header id="page_header" class="grid-center-items">
		<div class="logo-container"><p class="navigation" scrollTo="#head-section">Oasis</p></div>
		<nav class="grid-center-items">
			<p class="navigation" scrollTo="#about-section"><a href="/">Home</a></p>
			<p class="navigation" scrollTo="#menu-section"><a href="/blog">Blog</a></p>
			<p class="navigation" scrollTo="#contact-section"><a href="/shop">Shop</a></p>
		</nav>
		<div class="cart-header-container">
			<p id="cart_open" title="Click to open cart"><i class="fas fa-shopping-cart"></i><span id="count_inside_cart"></span></p>
		</div>
	</header> 

	<section id="head_section" class="center-cover-no-repeat">
		<div class="center-banner-text grid-center-items">
			<span>Welcome at Oasis</span>
			<a href="/shop" class="button grid-center-items">Shop now</a>
		</div>
	</section>

	<section class="welcome-sign-wrapper grid-center-items">
		<div class="welcome-sign grid-center-items">
			<h2>Welcome to Oasis book store</h2>
			<p>Tons of book collections you can choose from.<br> Books that don’t suck, we ensure the quality of our books the best you can find anywhere.</p>
		</div>
	</section>

	<section id="new_arrival_section">
		<div id="new_arrival_controls_wrapper" class="grid-center-items">
			<div id="new_arrival_controls" class="grid-center-items">
				<span id="arrivals_left" class="left-control">
					<i class="fas fa-angle-left"></i>
				</span>
				<h2> NEW ARRIVALS </h2>
				<span id="arrivals_right" class="right-control">
					<i class="fas fa-angle-right"></i>
				</span>
			</div>
		</div>
		<div id="new_arrival_list" class="carousel">

		</div>
	</section>

	<div id="bestseller_modal_wrapper">
		<div id="bestseller_modal" class="modal-container grid-center-items">
			<span id="close-bestseller-modal" class="close-modal" title="Close">&times;</span>

		</div>
	</div>

	<section id="best_and_exclusive_section">
		<div class="title-container grid-center-items">
			<span>BEST SELLING BOOK</span>
		</div>
		<div class="title-container grid-center-items">
			<span>EXCLUSIVE THIS MONTH</span>
		</div>
		<div id="bestseller_preview" class="photo-text-button-container grid-center-items">
			<span class="on-sale">SALE!</span>

		</div>
		<div id="exclusives_container">

		</div>
	</section>

	<section id="find_product" class="grid-center-items">
		<div class="find-form grid-center-items">
			<span>NEED TO FIND PARTICULAR PRODUCTS?</span>
			<form id="find_product_form" action="/search" method="GET">
				<div>
					<label for="title">Book title</label>
					<input type="text" name="title">
				</div>
				<div>
					<label>Category</label>
					<select name="categories" id="category-select">
						<option selected>Choose category</option>
					</select>
				</div>
				<div>
					<label for="author">Book author</label>
					<input type="text" name="author">
				</div>
				<div class="grid-center-items">
					<input class="button grid-center-items" type="submit" name="" value="Search">
				</div>
				<input type="hidden" name="searchType" value="search-custom-small"/>
			</form>
		</div>
	</section>

	<footer class="grid-center-items">
		<span>Copyright - Oleh Yaroshchuk 2018</span>

		<a href="https://www.facebook.com/oleh.yaroshchuk"><i class="fab fa-facebook-f"></i></a>
		<a href="https://twitter.com/Oleh_Yaroshchuk"><i class="fab fa-twitter"></i></a>
		<a href="mailto:1oleq25@gmail.com"><i class="fas fa-envelope"></i></a>
		<a href="https://github.com/Syarol"><i class="fab fa-github"></i></a>
		<a href="https://www.t.me/Oleh_Yaroshchuk"><i class="fab fa-telegram-plane"></i></a>
		<a href="https://www.instagram.com/oleh_yaroshchuk/"><i class="fab fa-instagram"></i></a>

		<a href="/"><span>Home</span></a>
		<a href="/shop"><span>Shop</span></a>
		<a href="/blog"><span>Blog</span></a>
		<span id="contact">Contact</span>
	</footer>

	<section id="about_section_wrapper" class="modal-wrapper">
		<div id="about-section" class="modal">
			<span id="close-contact-modal" class="close-modal" title="Close">&times;</span>
			<h2>CONTACT US</h2>
			<div id="contacts-wrapper">
				<div id="map-container"></div>
				<div class="contact-wrapper">
					<div class="contacts-with-text grid-center-items">
						<i class="fas fa-map-marker-alt"></i>
						<i class="fas fa-paper-plane"></i>
						<i class="fas fa-phone"></i>
						<span>Kryviy Val str., 31, Lutsk, Volyn region, 43000</span>
						<span>oasis@oasis.com</span>
						<span>012345678</span>
						<div class="contact-time">
							<i class="far fa-clock"></i>
							<span>Everyday 10am - 6pm</span>
						</div>
					</div>
					<div class="contact-form" id="contact-form">
						<div>
							<label>Your name (required)<input type="text" name="name" required></label>
							<label>Your Email (required)<input type="e-mail" name="email" required></label>
							<label>Subject<input type="text" name="subject"></label>
							<label>Your Message<textarea name="message" rows="5"></textarea></label>
							<span id="send_message" class="button"> Send</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script type="module" src="js/main.js"></script>

</body>

</html>