<!DOCTYPE html>
<html>
<head>
	<title>Oasis online-store</title>

	<meta charset="utf-8">

	<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
	<link rel="icon" href="images/favicon.png" type="image/x-icon">

	<link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Tajawal|Black+Han+Sans|Bree+Serif|Hind" rel="stylesheet"> 
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> 
	<link href="css/shop.css" rel="stylesheet">
</head>
<body>
	<header id="page_header" class="grid-center-items">
		<div class="logo-container"><p class="navigation" scrollTo="#head-section">Oasis</p></div>
		<nav class="grid-center-items">
			<p class="navigation" scrollTo="#about-section"><a href="/">Home</a></p>
			<p class="navigation" scrollTo="#menu-section"><a href="/blog">Blog</a></p>
			<p class="navigation" scrollTo="#contact-section"><a href="/shop">Shop</a></p>
		</nav>
		<div class="cart-header-container">
			<p id="cart_open" title="Click to open cart"><i class="fas fa-shopping-cart"></i><span id="count_inside_cart"></span></p>
		</div>
	</header> 

	<section id="search_top" class="grid-center-items">
		<div class="search-top-wrapper grid-center-items">
			<h1>Search by our catalog</h1>
			<form action="/search" method="GET">
				<input type="hidden" name="search-type" value="search-full">
				<input type="text" name="query" placeholder="Search for">
				<input class="button" type="submit" value="Let's found!">
			</form>
		</div>
	</section>

	<section id="we_recommend" class="carousel-section">
		<div class="carousel-controls-wrapper grid-center-items">
			<div class="carousel-controls grid-center-items">
				<span class="control left-control">
					<i class="fas fa-angle-left"></i>
				</span>
				<h2> WE RECOMMEND </h2>
				<span class="control right-control">
					<i class="fas fa-angle-right"></i>
				</span>
			</div>
		</div>
		<div id="recommend_carousel" class="carousel">

		</div>
	</section>

	<section id="bestsellers" class="carousel-section">
		<div class="carousel-controls-wrapper grid-center-items">
			<div class="carousel-controls grid-center-items">
				<span class="control left-control">
					<i class="fas fa-angle-left"></i>
				</span>
				<h2> BESTSELLERS </h2>
				<span class="control right-control">
					<i class="fas fa-angle-right"></i>
				</span>
			</div>
		</div>
		<div id="bestsellers_carousel" class="carousel">

		</div>
	</section>

	<section id="new_arrives" class="carousel-section">
		<div class="carousel-controls-wrapper grid-center-items">
			<div class="carousel-controls grid-center-items">
				<span class="control left-control">
					<i class="fas fa-angle-left"></i>
				</span>
				<h2> NEW ARRIVES</h2>
				<span class="control right-control">
					<i class="fas fa-angle-right"></i>
				</span>
			</div>
		</div>
		<div id="arrives_carousel" class="carousel">

		</div>
	</section>

	<footer class="grid-center-items">
		<span>Copyright - Oleh Yaroshchuk 2018</span>

		<a href="https://www.facebook.com/oleh.yaroshchuk"><i class="fab fa-facebook-f"></i></a>
		<a href="https://twitter.com/Oleh_Yaroshchuk"><i class="fab fa-twitter"></i></a>
		<a href="mailto:1oleq25@gmail.com"><i class="fas fa-envelope"></i></a>
		<a href="https://github.com/Syarol"><i class="fab fa-github"></i></a>
		<a href="https://www.t.me/Oleh_Yaroshchuk"><i class="fab fa-telegram-plane"></i></a>
		<a href="https://www.instagram.com/oleh_yaroshchuk/"><i class="fab fa-instagram"></i></a>

		<a href="/"><span>Home</span></a>
		<a href="/shop"><span>Shop</span></a>
		<a href="/blog"><span>Blog</span></a>
		<span id="contact">Contact</span>
	</footer>

	<section id="about_section_wrapper" class="modal-wrapper">
		<div id="about-section" class="modal">
			<span id="close-contact-modal" class="close-modal" title="Close">&times;</span>
			<h2>CONTACT US</h2>
			<div id="contacts-wrapper">
				<div id="map-container"></div>
				<div class="contact-wrapper">
					<div class="contacts-with-text grid-center-items">
						<i class="fas fa-map-marker-alt"></i>
						<i class="fas fa-paper-plane"></i>
						<i class="fas fa-phone"></i>
						<span>Kryviy Val str., 31, Lutsk, Volyn region, 43000</span>
						<span>oasis@oasis.com</span>
						<span>012345678</span>
						<div class="contact-time">
							<i class="far fa-clock"></i>
							<span>Everyday 10am - 6pm</span>
						</div>
					</div>
					<div class="contact-form">
						<div>
							<label>Your name (required)<input type="text" name="name" required></label>
							<label>Your Email (required)<input type="e-mail" name="email" required></label>
							<label>Subject<input type="text" name="subject"></label>
							<label>Your Message<textarea name="message" rows="5"></textarea></label>
							<span id="send_message" class="button"> Send</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script type="module" src="js/shop-main.js"></script>

</body>
</html>