html {
  overflow-x: hidden; 
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 140% 15%; 
}

html, body {
  height: 100%;
  width: 100%; 
}

.grid-center-items{
    display: grid;
    align-items: center;
    text-align: center;
    justify-items: center; 
}

.button{
  font-family:  'Tajawal', sans-serif;
  background-color: #CCCFCDE6;  
  border: 0;
  cursor: pointer;
}

header{
  grid-template-rows: 1fr;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  height: 10%;
  position: fixed;
  background-color: #FFF;
  opacity: 0.9;
  box-shadow:  0 0 1em #C0D1C4;
  z-index: 10;
  justify-items: initial !important;
}

.logo-container{
  display: flex;
  font-size: 2em;
  font-family: 'Do Hyeon', sans-serif;
}

.navigation{
    margin: auto; 
}

a{
  text-decoration: none;
    color: black;
}

#page_header nav {
    grid-template-columns: repeat(3, 1fr) 40%; 
    font-family: 'Tajawal', sans-serif;
}

.cart-header-container{
  display: grid;
  grid-template-columns: 70% 30%;
  justify-items: self-start;
}

#cart_open{
  grid-column-start: 2;
}

#blog_articles{
  grid-template-columns: 5% 1fr 5%;
  grid-row-start: 2;
}

.blog-article-wrapper{
  grid-template-rows: 0% 1fr 1fr 1fr 5%;
  grid-template-columns: 5% 1fr 1fr 5%;
  grid-gap: 2.5%;
  grid-column-start: 2;
  width: 100%;
  height: 100%; 
}

.grid-empty-row{
  grid-column-start: 1;
  grid-column-end: 5;
}

.blog-article{
  position: relative;
  grid-template-columns: 40% 60%;
  width: 100%;
  height: 100%;
}

.article-photo{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://images.gr-assets.com/books/1383718290l/13079982.jpg);
}

.article-text-wrapper{
  width: 90%;
  height: 95%;
  grid-template-rows: 10% 15% 50% 15% 10%;
}

.article-text-wrapper h4{
  grid-row-start: 2;
  font-size: 1.5em;
  font-family: 'Tajawal', sans-serif;
  color: #e6b22b;
}

.article-text-wrapper p{
  grid-row-start: 3;
  font-family: 'Crimson Text', serif;
}

.article-text-wrapper button{
  grid-row-start: 4;
}

.date{
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 40%;
  height: 25px;
  background-color: #0006;
  border-radius: 2px;
  color: #c3c3c3;
}

.pagination {
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 4;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


.close-modal {
  float: right;
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold; 
  color: black;
  font-size: 28px;
  transition: 1s; 
}

.close-modal:hover, .close-modal:focus{
  color: #aaa;
  text-decoration: none;
  cursor: pointer; 
}

footer{
  grid-row-start: 3;
  grid-template-rows: 1fr;
  grid-template-columns: 2.5% 20% repeat(6, 3%) 27% repeat(4, 7.5%) 2.5%;
  background-color: #3C3C3C;
  color: #dcdcdc;
  font-family: 'Tajawal', sans-serif;
}

footer a{
  color: #dcdcdc;
  text-decoration: none;
}

footer span:first-child{
  grid-column-start: 2;
}

footer a:nth-child(8){
  grid-column-start: 10;
}


#contact{
  cursor: pointer;
}


#about_section_wrapper{
  display: none; 
}

#about-section{
  display: grid;
  grid-template-rows: 10% 1fr;
  grid-template-columns: 1fr;
}

#about-section h2{
  margin: 0;
  align-self: start;
  text-align: center;
  font-family: 'Bree Serif', serif;
}

#contacts-wrapper{
  grid-row-start: 2;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  font-family: 'Tajawal', sans-serif;
}

#map-container{
  grid-column-start: 1;
  width: 100%;
  height: 100%;
  border: 2px solid #5f5c5c4d;
}

.contact-wrapper{
  display: grid;
  justify-items: center;
  grid-template-rows: 30% 70% ;
  width: 100%;
  height: 100%;
}

.contacts-with-text{
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  font-size: 1.7em;
}

.contacts-with-text span{
  font-size: .5em;
  margin: auto;
}

.contact-time{
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  width: 60%;
}

.contact-form{
  width: 100%;
  height: 100%;
  display: flex;
}

.contact-form div{
  margin: auto;
  width: 80%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr;
}

.contact-form label{
  font-size: .8em;
}

textarea{
  resize: none;
}

.contact-form input[type=text], .contact-form input[type=e-mail], .contact-form textarea{
  width: 100%;
}

.contact-form #send_message{
  width: 120px;
  text-align: center;
  height: 25px;
  transition: 1s;
}

.contact-form #send_message:hover{
  background-color: #c5c5c5;
}



.modal-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
  position: relative;
}

#cart-modal, #read_more_modal {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4); }

#modal-content, #read_more_modal_content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 50%;
  position: relative; }

#cart-header {
  text-align: center;
  font-family: Raleway;
  height: 10%;
  display: flex; }
  #cart-header h2 {
    font-weight: 100;
    margin: 0;
    width: 100%;
    align-self: center; }

#close-modal, #close_read_more_modal {
  float: right;
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold; }

#close-modal, .cart-remove-item, #close_read_more_modal {
  color: #aaa;
  font-size: 28px;
  transition: 1s; }

#close-modal:hover, #close-modal:focus,
.cart-remove-item:hover, .cart-remove-item:focus, 
#close_read_more_modal:hover, #close_read_more_modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

#cart-table {
  width: 90%;
  height: 80%;
  display: none;
  grid-template-columns: 1fr;
  grid-auto-rows: 15%;
  font-family: 'Alegreya Sans', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto; }
  #cart-table .cart-first-row {
    position: sticky;
    top: 0; }
  #cart-table .cart-first-row, #cart-table .cart-last-row {
    background-color: #e3e3e3; }
    #cart-table .cart-first-row :first-child, #cart-table .cart-last-row :first-child {
      grid-column-start: 2; }
  #cart-table .cart-table-row {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 45% 20% 15% 15%; }
  #cart-table span {
    justify-items: center;
    align-items: center;
    text-align: center; }
  #cart-table .cart-item-name {
    justify-self: left;
    text-align: left; }
  #cart-table .cart-quantity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%; }
  #cart-table #cart-total {
    grid-column-start: 5; }

.cart-button {
  height: 30px;
  width: 115px;
  margin: auto;
  display: flex;
  background-color: #c3c4bd;
  cursor: pointer;
  border: 0; }
  .cart-button span {
    margin: auto;
    font-family: 'Oxygen'; }

.order-list {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 10%; }
  .order-list *:not(:first-child):not(:nth-child(2)) {
    border-bottom: .5px solid grey; }
  .order-list *:nth-child(2n) {
    justify-items: center;
    align-items: center;
    text-align: center; }

#checkout-container {
  height: 80%;
  width: 80%;
  margin: auto;
  font-size: .85em;
  font-family: Mukta Malar;
  overflow-y: auto;
  overflow-x: hidden; }

#cart-buttons-container {
  display: flex;
  height: 10%; }

.cart-one-text-container {
  height: 80%;
  width: 80%;
  justify-items: center;
  align-items: center;
  text-align: center;
  display: grid;
  margin: auto;
  color: #443f3f; }

#confirmation-form-container {
    height: 80%;
    width: 70%;
    display: grid;
    margin: auto;
    justify-items: center;
}

#checkout-container {
    font-size: 1em; 
}

#cart-modal .input {
  align-self: center;
  width: 70%;
  height: 40px;
  position: relative;
}

#cart-modal label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700; 
  color: #443f3f;
}

#cart-modal input {
  border: 0;
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  font: 15px/23px 'Muli', sans-serif;
  color: #443f3f;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  position: absolute;
  z-index: 10; 
}

#cart-modal input:focus{
    outline: none; 
}

#cart-modal input ~ .focus-border {
  position: absolute;
  bottom: 7px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s; }

#cart-modal input:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0; }

#cart-modal label{
  position: absolute;
  transition: 0.5s;
  top: 9px;
  letter-spacing: 0.5px;
}

.input-label-no-focus{
  left: 0;  
}

.input-label-get-focus {
  left: -150px;
  font-size: 16px;
}

.color-green{
  color: #4caf50 !important;
}

