html {
  overflow-x: hidden; 
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100% 30% 50% 90% 30% 15%; 
}

html, body {
  height: 100%;
  width: 100%; 
}

.grid-center-items{
	display: grid;
    align-items: center;
    text-align: center;
    justify-items: center;
}

.button{
	font-family:  'Tajawal', sans-serif;
	background-color: #CCCFCDE6;	
	border: 0;
	cursor: pointer;
}

.center-cover-no-repeat{
	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat;
}

header{
	grid-template-rows: 1fr;
	grid-template-columns: 20% 60% 20%;
	width: 100%;
	height: 10%;
	position: fixed;
	background-color: #FFF;
	opacity: 0.9;
	box-shadow:  0 0 1em #C0D1C4;
	z-index: 10;
	justify-items: initial !important;
}

.logo-container{
	display: flex;
	font-size: 2em;
	font-family: 'Do Hyeon', sans-serif;
}

.navigation{
    margin: auto; 
}

a{
	text-decoration: none;
    color: black;
}

#page_header nav {
    grid-template-columns: repeat(3, 1fr) 40%; 
    font-family: 'Tajawal', sans-serif;
}

.cart-header-container{
	display: grid;
	grid-template-columns: 70% 30%;
	justify-items: self-start;
}

#cart_open{
	grid-column-start: 2;
}

#head_section{
	background-image: url(/images/books-bookstore-book-reading-159711.jpeg); 
	display: flex;
}

.center-banner-text{
	height: 40%;
	margin: auto;
	grid-template-columns: 1fr;
	grid-template-rows: 60% 30% 10%;
}

.center-banner-text span{
	font-size: 4em;
	font-family:  'Black Han Sans', sans-serif;
	color: white;
}

.center-banner-text .button{
	font-size: 1.3em;
	width: 30%;
	height: 50%;
}

.welcome-sign-wrapper{
	grid-template-columns: 1fr;
	grid-template-rows: 10% 80% 10%;	
}

.welcome-sign{
	height: 100%;
	width: 80%;
	background-color: #f2f2f2;
	grid-row-start: 2; 
	grid-template-columns: 1fr;
	grid-template-rows: 10% 35% 5% 40% 10%;	
	box-shadow:  0 0 2px #C0D1C4;
	
}

.welcome-sign-wrapper h2{
	margin: 0;
	font-size: 2em;
	grid-row-start: 2;
	align-self: end;
	font-family: 'Bree Serif', serif;
}

.welcome-sign-wrapper p{
	grid-row-start: 4;
	text-align: center;
	font-family: 'Tajawal', sans-serif;
}

#new_arrival_section{
	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    position: relative;
}

#new_arrival_controls_wrapper{
    grid-template-rows: 1fr;
    grid-template-columns: 35% 30% 35%;
    justify-items: initial;
}

#new_arrival_controls{
	grid-column-start: 2;
	grid-template-rows: 1fr;
	grid-template-columns: 15% 70% 15%;

}

.left-control{
	cursor: pointer;
	height: 1.2em;
	transition: 1s;
}

.left-control:hover{
	transform: scale(1.2);
}

#new_arrival_controls h2{
	font-family: 'Tajawal', sans-serif;
	font-size: 1.2em;
}

.right-control{
	transition: 1s;
	cursor: pointer;
	height: 1.2em;
}

.right-control:hover{
	transform: scale(1.2);
}

#new_arrival_list{
	/*display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 25% 25% 25% 25%; */
	overflow: hidden;
   	display: flex;
	flex-wrap: nowrap;
	height: 80%;
	top: 20%;
	position: absolute;
	width: 100%;
}

img{
	width: 100%;
	height: 100%;
}

.arrival-item{
	position: relative;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: white;
}

#new_arrival_list .arrival-item{
	flex: 1 0 25%;
	min-width: 25%;
}

#best_and_exclusive_section{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 15% 85%;
}

#best_and_exclusive_section .title-container{
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	font-family:  'Black Han Sans', sans-serif;
}

#best_and_exclusive_section .title-container:first-child{
	background-color: #fff;
	color: #5a5656;
}

#best_and_exclusive_section .title-container:nth-child(2){
	background-color: black;
}

#best_and_exclusive_section .title-container:nth-child(2) span{
	color: white;
}

.on-sale{
	position: absolute;
	left: -25px;
	top: 10px;
	transform: rotate(-45deg);
	background: black;
	font-family: Raleway,sans-serif;
	font-weight: bold;
	padding: 3px 30px;
	font-size: 15px;
	color: white;
	z-index: 9;
	clip-path: polygon(26% 0, 65% -5px, 100% 125%, 0% 107%) !important;
}

.photo-text-button-container{
	position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 30% 10%;
}

.photo-text-button-container .button{
	font-size: 1.3em;
	width: 30%;
}

.book-photo-container{
	background-size: contain !important;
  	height: 100%;
	width: 100%;
}

.photo-text-button-container .text-container{
	width: 80%;
	text-align: justify;
	font-family: 'Tajawal', sans-serif;
}

#exclusives_container{
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr; 
}

#find_product{
	grid-template-columns: 1fr;
	grid-template-rows: 10% 80% 10%;	
}

.find-form{
	grid-row-start: 2;
	height: 80%;
	width: 80%;
	grid-template-columns: 1fr;
	grid-template-rows: 40% 1fr;
	background-color: #f2f2f2;
	box-shadow:  0 0 2px #C0D1C4;
	font-family:  'Tajawal', sans-serif;
	font-size: 1.3em;
}

#find_product_form{
	grid-row-start: 2;
	display: grid;
	grid-template-columns: 7.5% repeat(2, 20% 5%) 20% 2.5% 12.5% 7.5%;
	width: 100%;
	height: 80%;
	font-size: .8em;
}

#find_product_form label{
	font-size: 0.7em;
}

#find_product_form div:first-child{
	grid-column-start: 2;
}

#find_product_form div:nth-child(2){
	grid-column-start: 4;
}

#find_product_form div:nth-child(3){
	grid-column-start: 6;
}

#find_product_form div:nth-child(4){
	grid-column-start: 8;
	height: 100%;
}

#find_product_form input[type=text], #find_product_form select {
	border: 0;
  	padding: 4px 0;
  	border-bottom: 1px solid black;
	background-color: transparent;
	box-sizing: border-box;
  	letter-spacing: 1px;
  	width: 100%;
}

#find_product_form input[type=submit]{
	height: 70%;
	width: 100%;
}

#find_product_form select {
	-moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
	background-image:
    	linear-gradient(45deg, transparent 50%, gray 50%),
    	linear-gradient(135deg, gray 50%, transparent 50%);
  	background-position:
    	calc(100% - 10px) calc(1em + 2px),
    	calc(100% - 5px) calc(1em + 2px);
  	background-size:
    	5px 5px,
    	5px 5px;
  	background-repeat: no-repeat;
}

#find_product_form select:focus {
  	background-image:
    	linear-gradient(45deg, green 50%, transparent 50%),
    	linear-gradient(135deg, transparent 50%, green 50%);
  	background-position:
    	calc(100% - 5px) 1em,
    	calc(100% - 10px) 1em;
  	background-size:
    	5px 5px,
    	5px 5px;
  	background-repeat: no-repeat;
  	border-color: green;
  	outline: 0;
}

footer{
	grid-template-rows: 1fr;
	grid-template-columns: 2.5% 20% repeat(6, 3%) 27% repeat(4, 7.5%) 2.5%;
	background-color: #3C3C3C;
	color: #dcdcdc;
	font-family: 'Tajawal', sans-serif;
}

footer a{
	color: #dcdcdc;
	text-decoration: none;
}

footer span:first-child{
	grid-column-start: 2;
}

footer a:nth-child(8){
	grid-column-start: 10;
}


#bestseller_modal_wrapper{
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	background-color: #000000b3;
	z-index: 20;
}

.modal-container{
	position: relative;
	margin: auto;
	width: 80%;
	height: 90%;
	background-color: #fffc;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 5% 10% 7.5% 5% 60% 7.5% 5%;
	font-family: 'Lato', sans-serif;
}

.modal-container h3{
	grid-row-start: 2;
	grid-column-start: 1;
	grid-column-end: 3; 
	margin: 0;
	font-size: 2em;
	font-family: 'Bree Serif', serif !important;
}

.modal-photo{
	grid-row-start: 3;
	grid-row-end: 7;
	grid-column-start: 1;
	background-size: contain !important;
	object-fit: contain;
	width: 90%;
	height: 100%;
}

.modal-container .author{
	grid-row-start: 3;
	grid-column-start: 2;
}

.modal-container .category{
	grid-row-start: 4;
	grid-column-start: 2;
}

.modal-container .text-container{
	grid-row-start: 5;
	grid-column-start: 2;
	width: 90%;
	text-align: justify;
}

.modal-container .price{
	grid-row-start: 6;
	grid-column-start: 2;
}

.modal-container .button{
	font-size: 1.2em;	
}

.close-modal {
  float: right;
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold; 
  color: black;
  font-size: 28px;
  transition: 1s; 
}

.close-modal:hover, .close-modal:focus{
  color: #aaa;
  text-decoration: none;
  cursor: pointer; 
}

.arrival-item .arrival-item-inf {
	width: 100%;
	height: 100%;
	transition: 1s;
	background-color: #000000b3;
	color: #dcdcdc;
	margin-left: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: 20% 15% 7.5% 15% 7.5% 15% 20%;
}

.arrival-item:hover .arrival-item-inf,
.arrival-item.active .arrival-item-inf{
	margin-left: 0;
}

.arrival-item-inf h3{	
	font-family: 'Bree Serif', serif;	
	margin: 0;
	font-size: 2em;
	grid-row-start: 2;
}

.arrival-item-inf span:nth-child(2){
	grid-row-start: 3;
	font-size: .8em;
}

.arrival-item-inf span:nth-child(3){
	grid-row-start: 4;
	font-size: 1.4em;
}

.arrival-item-inf span:nth-child(4){
	grid-row-start: 5;
	font-size: .8em;
}

.arrival-item-inf span{
	font-family: 'Tajawal', sans-serif;
}

.arrival-item input[type=button]{
	grid-row-start: 6;
	font-size: 1.2em;
}

.modal-wrapper{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal{
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	height: 90%;
	position: relative;
}

#contact{
	cursor: pointer;
}


#about_section_wrapper{
	display: none; 
}

#about-section{
	display: grid;
	grid-template-rows: 10% 1fr;
	grid-template-columns: 1fr;
}

#about-section h2{
	margin: 0;
	align-self: start;
	text-align: center;
	font-family: 'Bree Serif', serif;
}

#contacts-wrapper{
	grid-row-start: 2;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 15px;
	font-family: 'Tajawal', sans-serif;
}

#map-container{
	grid-column-start: 1;
	width: 100%;
	height: 100%;
	border: 2px solid #5f5c5c4d;
}

.contact-wrapper{
	display: grid;
	justify-items: center;
	grid-template-rows: 30% 70% ;
	width: 100%;
	height: 100%;
}

.contacts-with-text{
	width: 100%;
	height: 100%;
	grid-row-start: 1;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 1fr;
	font-size: 1.7em;
}

.contacts-with-text span{
	font-size: .5em;
	margin: auto;
}

.contact-time{
	grid-column-start: 1;
	grid-column-end: 4;
	display: flex;
	width: 60%;
}

.contact-form{
	width: 100%;
	height: 100%;
	display: flex;
}

.contact-form div{
	margin: auto;
	width: 80%;
	height: 90%;
	display: grid;
	grid-template-columns: 1fr;
}

.contact-form label{
	font-size: .8em;
}

textarea{
	resize: none;
}

.contact-form input[type=text], .contact-form input[type=e-mail], .contact-form textarea{
	width: 100%;
}

.contact-form #send_message{
  width: 120px;
  text-align: center;
  height: 25px;
  transition: 1s;
}

.contact-form #send_message:hover{
  background-color: #c5c5c5;
}




#cart-modal {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4); }

#modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 50%;
  position: relative; }

#cart-header {
  text-align: center;
  font-family: Raleway;
  height: 10%;
  display: flex; }
  #cart-header h2 {
    font-weight: 100;
    margin: 0;
    width: 100%;
    align-self: center; }

#close-modal {
  float: right;
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold; }

#close-modal, .cart-remove-item {
  color: #aaa;
  font-size: 28px;
  transition: 1s; }

#close-modal:hover, #close-modal:focus,
.cart-remove-item:hover, .cart-remove-item:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

#cart-table {
  width: 90%;
  height: 80%;
  display: none;
  grid-template-columns: 1fr;
  grid-auto-rows: 15%;
  font-family: 'Alegreya Sans', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto; }
  #cart-table .cart-first-row {
    position: sticky;
    top: 0; }
  #cart-table .cart-first-row, #cart-table .cart-last-row {
    background-color: #e3e3e3; }
    #cart-table .cart-first-row :first-child, #cart-table .cart-last-row :first-child {
      grid-column-start: 2; }
  #cart-table .cart-table-row {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 45% 20% 15% 15%; }
  #cart-table span {
    justify-items: center;
    align-items: center;
    text-align: center; }
  #cart-table .cart-item-name {
    justify-self: left;
    text-align: left; }
  #cart-table .cart-quantity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%; }
  #cart-table #cart-total {
    grid-column-start: 5; }

.cart-button {
  height: 30px;
  width: 115px;
  margin: auto;
  display: flex;
  background-color: #c3c4bd;
  cursor: pointer;
  border: 0; }
  .cart-button span {
    margin: auto;
    font-family: 'Oxygen'; }

.order-list {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 10%; }
  .order-list *:not(:first-child):not(:nth-child(2)) {
    border-bottom: .5px solid grey; }
  .order-list *:nth-child(2n) {
    justify-items: center;
    align-items: center;
    text-align: center; }

#checkout-container {
  height: 80%;
  width: 80%;
  margin: auto;
  font-size: .85em;
  font-family: Mukta Malar;
  overflow-y: auto;
  overflow-x: hidden; }

#cart-buttons-container {
  display: flex;
  height: 10%; }

.cart-one-text-container {
  height: 80%;
  width: 80%;
  justify-items: center;
  align-items: center;
  text-align: center;
  display: grid;
  margin: auto;
  color: #443f3f; }

#confirmation-form-container {
    height: 80%;
    width: 70%;
    display: grid;
    margin: auto;
    justify-items: center;
}

#checkout-container {
    font-size: 1em; 
}

#cart-modal .input {
  align-self: center;
  width: 70%;
  height: 40px;
  position: relative;
}

#cart-modal label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700; 
  color: #443f3f;
}

#cart-modal input {
  border: 0;
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  font: 15px/23px 'Muli', sans-serif;
  color: #443f3f;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  position: absolute;
  z-index: 10; 
}

#cart-modal input:focus{
    outline: none; 
}

#cart-modal input ~ .focus-border {
  position: absolute;
  bottom: 7px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s; }

#cart-modal input:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0; }

#cart-modal label{
	position: absolute;
	transition: 0.5s;
	top: 9px;
	letter-spacing: 0.5px;
}

.input-label-no-focus{
	left: 0;  
}

.input-label-get-focus {
  left: -150px;
  font-size: 16px;
}

.color-green{
	color: #4caf50 !important;
}
